html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

[v-cloak] {
    display: none;
}

#app, .aui-refresh-content {
    height: auto;
}

.aui-list {
    background-size: 0px;
    border-bottom: 0px;
    border-top: 0px;
}

    .aui-list .aui-list-item {
        background-size: 0px;
        border-bottom: 0px;
    }

.red {
    color: red;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt35 {
    margin-top: 35px;
}
.mt40 {
    margin-top: 40px;
}
.mb30 {
    margin-bottom: 30px;
}
.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr20 {
    padding-right: 20px;
}

.pt25 {
    padding-top: 25px;
}
.pt30 {
    padding-top: 30px;
}
.pt60 {
    padding-top: 60px;
}
.pt35{
   padding-top:35px;
}
.pb35 {
    padding-bottom: 35px;
}
.pb50 {
    padding-bottom: 50px;
}
.pb60 {
    padding-bottom: 60px;
}
.ft110 {
    font-size: 110%;
}

.grey {
    color: #888;
}

.fixed-top {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 99;
    height: 35px;
    width: 100%;
    border-bottom: solid 1px #f0f0f0;
}
.fixed-bottom {
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 99;
    height: 37px;
    width: 100%;
    background-color: #ebeced;
    border-top: solid 1px #f0f0f0;
}
.green {
    color: #29ab91;
}

/* 维修、处置列表页的表单表头 */
.header-nice:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 4px 0 0 4px; /* 左上、右上、右下、左下 */
}

/*  资产状态的背景色 */
.free, .using, .lend, .return, .pendispose, .dispose, .repair {
    padding: 3px 5px 1px 5px;
    border-radius: 2px;
    color: #fff;
    margin-right: 10px;
    font-size: 86%;
}

.free {
    background: #ffc547;
}

.using {
    background: #29ab91;
}

.lend {
    background: #29c09a;
}

.return {
}

.pendispose {
    background: #f46e78;
}

.dispose {
    background: #bfc4cd;
}

.repair {
    background: #74b4e1;
}


.iconfont2 {
    color: #28c7d0 !important;
}


input::-webkit-input-placeholder {
    color: #ccc;
}

textarea::-webkit-input-placeholder {
    color: #ccc;
}

.overhidden {
    overflow: hidden;
}
/* 树状结构的样式 */
.tree {position:inherit; width:100%; margin-right:5px; background:#fff;}
.tree ul{ }
.tree li{display:block; line-height:2rem; font-size:0.75rem;}
.tree li span{display:block; white-space:nowrap;border-bottom:solid 1px #f0f0f0;}
.tree li span a{color:#111;display:block; }
.tree li span i{color:#666; cursor:pointer; height:11px; width:11px; text-align:center; margin:12px 10px 0 0; display:block; float:left;}
.tree li span i em{border:solid 1px #c1c1c1; border-radius:2px; color:#c1c1c1; font-style:normal; line-height:0.65rem; width:0.75rem; height:0.75rem;  display:block;}
.add-brahold { height: 30px;}
.tree li span.treeactive{ background:#f1f1f1;}
.bottomBtn{
  position: fixed;
  bottom: 0px;
  width: 40%;
  height: 33px;
  z-index: 100;
}
.leftBtn{
  left: 0;
  padding-left: 20px;
}
.rightBtn{
  right: 0;
  padding-right: 20px;
  text-align: right;
}
.bottomBtn label{
  line-height: 30px;
}
.bottomBtn .aui-radio{
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 5px;
  margin-top: 5px;
}

.aui-list.aui-form-list.list-accomplish:after {
    content: "\5df2\5b8c\6210";
    font-size: 0.6rem;
    color: #ccc;
    border: solid 2px #e1e1e1;
    padding: 3px 10px;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 8px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg); /*兼容-webkit-引擎浏览器*/
    -moz-transform: rotate(-30deg); /*兼容-moz-引擎浏览器*/
}

.aui-list.aui-form-list.list-unaccomplished:after {
    content: "\672a\5b8c\6210";
    font-size: 0.6rem;
    color: #e2788f;
    border: solid 2px #e2788f;
    padding: 3px 10px;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 8px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg); /*兼容-webkit-引擎浏览器*/
    -moz-transform: rotate(-30deg); /*兼容-moz-引擎浏览器*/
}
.aui-list.aui-form-list.list-unaccomplished-pandian:after {
    content: "\76d8\70b9\4e2d";
}
.aui-list.aui-form-list.list-unaccomplished-weixiu:after {
    content: "\7ef4\4fee\4e2d";
}
.aui-list.aui-form-list.list-unaccomplished-chuzhi:after {
    content: "\5f85\5904\7f6e";
}

.aui-tab .aui-tab-item {
    height: 35px;
    line-height: 32px;
}

.aui-tab .aui-active {
    color: #28c7d0;
    border-color: #28c7d0;
}
