.choose-title {
    padding: 10px 10px 10px 0.75rem;
    font-size: 0.75rem;
    color: #606060;
}

input[type=text].choose-company {
    text-align: left;
}

.aui-grid .aui-col-xs-3 {
    text-align: center;
    padding: 0px;
}

    .aui-grid .aui-col-xs-3 label {
        padding: 10px 0;
    }

    .aui-grid .aui-col-xs-3.aui-active label {
        border-bottom: solid 2px #29ab91;
        padding-bottom: 8px;
    }

.location-info {
    padding: 5px 0px 10px 0px;
    background: #fff;
    position: relative;
}

.location-floor {
    width: 45px;
    height: auto;
    margin-top:6px;
}
.location-floor label {
    border: solid 1px #ddd;
    border-left:none;
    padding: 0 5px;
    width: 50px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: -1px;
}

.location-row {
    font-size: 0.7rem;
    clear:both;
    margin:0;
    padding:1px 0 0 0;
    position: absolute;
    top: 30px;
    left: 50px;
    right: 0;
    overflow-x: auto;
}
.location-room {
    padding: 0px;
    height: 40px;
    margin-top: -1px;
}

    .location-room label {
        padding: 3px 4px;
        width: 70px;
        height: 40px;
        border: solid 1px #ddd;
        border-left: 0px;
        line-height: 0.8rem;
        position: relative;
        text-align: center;
    }
    .room_scrool{
      min-width: 1000px;
    }
        .location-room label span {
            position: absolute;
            width: 14px;
            height: 13px;
            display: inline-block;
        }

            .location-room label span.yipan {
                top: 0;
                right: 0;
                font-size: 10px;
                line-height: 14px;
            }

            .location-room label span.panying {
                bottom: 0;
                left: 0;
                font-size: 10px;
                line-height: 14px;
            }

            .location-room label span.pankui {
                bottom: 0;
                right: 0;
                font-size: 10px;
                line-height: 14px;
            }

label.needpanbtn {
    background: #fff;
}

.nopanbtn {
    background: #f0f0f0;
}

.yipan {
    background: #1296db;
    color: #fff;
}
.panying {
    background: #83b24b;
    color: #fff;
}
.pankui {
    background: #f46e78;
    color: #fff;
}


span.active, label.active {
    background: #29ab91;
    color: #fff;
}
/*.aui-list .aui-list-item-label{
  padding-left: 0.25rem;
}*/
.location-label{
  text-align: center;
  font-size: 0.65rem;
  line-height: 20px;
  height: 20px;
}
