[v-cloak] {
    display: none;
}

input[type="datetime-local"]:before {
    content: attr(placeholder);
    color: #ccc;
}

::-webkit-input-placeholder {
    color: #ccc;
}

.bottombtn {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

input.datetime_text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.aui-list .aui-list-item .aui-list-item-input.datetime_box {
    position: relative;
}

* {
    font-size: 0.7rem;
}

html,body {
    background: #f0f0f0;
}

.aui-content {
    /*padding-bottom: 2.6rem;*/
}

.aui-list-header span {
    margin-left: 1rem;
    color: #ffc107;
}

.aui-list .aui-list-item-label-icon {
    padding-right: 0;
}

.aui-bar-nav.header {
    line-height: 1.5rem;
    min-height: 1.5rem;
}

.aui-bar-nav .aui-pull-right {
    font-size: 0.6rem;
}

.aui-list .aui-list-item-input label {
    margin-right: 10px;
}

.bsbx_con {
    width: 100%;
    margin: 10px auto;
    /*border-radius:10px;*/
    /*background-color: #fff;*/
}



.aui-list {
    background: none;
    /*padding: 10px;*/
}

.aui-list li.aui-list-item.liline {
    background: #fff;
    padding: 0px;
    margin-bottom: 10px;
}

.cl {
    clear: both;
}

.bottomS {
    width: 90%;
    margin: 0 auto;
    background-color: #00BCD4;
    color: #fff;
}

.records {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.album img {
    width: 100%;
    overflow: hidden;
}

.menu {
    height: 2.5rem;
    line-height: 2.5rem;
    background: #fff;
}

.menu_li {
    font-size: 0.85rem;
    float: left;
    width: 50%;
    text-align: center;
}

.menu_li_activ {
    color: #00BCD4;
    border-bottom: 2px solid #00BCD4;
}

.aui-list-item-inner.item-inner-sty {
    width: 92%;
    margin: 0 auto;
}

.aui-list-item-inner.item-inner-sty.block {
    display: block;
}

.aui-list-item-label-icon.label-title-wid {
    font-size: 0.75rem;
    color: #333;
    min-width: 22%;
    max-width: 100%;
    float: left;
}

.aui-list .aui-list-item-input {
    padding-right: 0px!important;
}

.aui-list-item-input select, .aui-list-item-input input {
    color: #000;
    width: 80%;
    float: right;
    text-align: right;
    font-size: 0.75rem;
    padding-left: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aui-list-item-input textarea {
    color: #000;
    width: 100%;
    height: 5rem;
    line-height: 1.2rem;
    font-size: 0.75rem;
    margin: 0 auto;
    margin-bottom: 10px;
}

.aui-list-item-label-icon.label-title-wid.flo {
    width: 100%!important;
    float: none;
}

.li-margbtn {
    margin-bottom: 0px!important;
}

.item-height {
    height: 2.5rem;
    line-height: 2.5rem;
}

.aui-list.aui-form-list .aui-list-item-inner.item-inner-radio {
    display: block;
}

.aui-list-item-inner.item-inner-radio label {
    line-height: 2.2rem;
    display: inline-block;
    width: 25%;
    margin-right: 10%;
}

.aui-list-item-inner.item-inner-radio label .aui-radio {
  margin-top: 0.5rem;
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
}
.bsbx_btm{
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: 0px;
  background: #fff;
  overflow: hidden;
}
.bsbx_add{
  width: 92%;
  margin: 0 auto;
  height: 2rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  border-radius: 50rem;
  text-align: center;
  background: #eb7825;
  color: #fff;
  font-size: 0.7rem;
  text-shadow: 0px 0px 0px #fff;
  overflow: hidden;
}
.phonemsg{
  width: 92%;
  margin: 0 auto;
  font-size: 0.6rem;
  color: #999;
  line-height: 1rem;
  overflow: hidden;
}

/*问答*/
.family_title {
    line-height: 30px;
    text-indent: 0px;
    padding: 5px 14px 0px 14px;
    font-size: 0.75rem;
}
.dcwj_con2 {
    padding: 10px 14px;
    /*margin: 10px 14px;*/
    background: #fff;
    /*border-radius: 8px;*/
}
.dcwj_list {
    line-height: 1.1rem;
    /*border-bottom: 1px solid #eee;*/
    padding: 15px 0;
}
.btn_line{
	  	border: none;
      background-size: 100% 1px;
	  	background-repeat: no-repeat;
		  background-position: bottom;
      background-image: linear-gradient(0,#f0f0f0,#f0f0f0 50%,transparent 50%);
      background-image: -webkit-linear-gradient(90deg,#f0f0f0,#f0f0f0 50%,transparent 50%);
}
.dcwj_right {
  padding-left: 10px;

}
.fmly_lft{
  width: 80%;
  font-size: 0.75rem;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
