html,body {
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.myfamily{
  margin: 10px 14px;
  overflow: hidden;
}
.myfamily ul li{
  border-radius: 8px;
  background: #fff;
  margin-bottom: 10px;
}
.family_list{
  padding: 10px 14px;
}
.family_name,.family_num{
  line-height: 1.4rem;
  font-size: 0.7rem;
}
.family_lft{
  width: 22%;
  color: #999;
  float: left;
}
.family_rgt{
  color: #000;
  font-size: 0.75rem;
}
.family_rgt span.yezhu{
  font-size: 0.45rem;
  background: #ffae21;
  padding: 0px 5px;
  height: 0.7rem;
  line-height: 0.7rem;
  color: #fff;
  border-radius: 50rem;
  margin-left: 5px;
  overflow: hidden;
}
.family_rgt span.chengyuan{
  font-size: 0.45rem;
  background: #f8d40c;
  padding: 0px 5px;
  height: 0.7rem;
  line-height: 0.7rem;
  color: #fff;
  border-radius: 50rem;
  margin-left: 5px;
  overflow: hidden;
}
.family_rgt i{
  text-align: right;
  float: right;
  color: #bbb;
}
.bsbx_btm{
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: 0px;
  background: #fff;
  overflow: hidden;
}
.bsbx_add{
  width: 92%;
  margin: 0 auto;
  height: 2rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  border-radius: 50rem;
  text-align: center;
  background: #eb7825;
  color: #fff;
  font-size: 0.7rem;
  text-shadow: 0px 0px 0px #fff;
  overflow: hidden;
}
.family_name{
  position: relative;
}
.btn_remove {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -0.5rem;
}
