html,body {
    background-color: #f0f0f0;
  }
body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.aui-refresh-content{
  padding-bottom: 4rem;
}
.shouhuo_address{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0px 14px;
  overflow: hidden;
}
.zhifu_way{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0px 14px;
  overflow: hidden;
}
.aui-list .aui-media-list-item-inner.btn_line{
  border: none;
      background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
      background-image: linear-gradient(0,#f0f0f0,#f0f0f0 50%,transparent 50%);
      background-image: -webkit-linear-gradient(90deg,#f0f0f0,#f0f0f0 50%,transparent 50%);
}
.sh_dres_lft{
  width: 90%;
  padding: 15px 0px;
  float: left;
  overflow: hidden;
  /*background: #f00;*/
}
.sh_dres_msg{
  font-size: 0.75rem;
  text-shadow: 0px 0px 0px #333;
  color: #333;
  line-height: 1.4rem;
}
.sh_dres_person{
  font-size: 0.7rem;
  line-height: 1.2rem;
  color: #999;
}
.sh_dres_person span{
  color: #333;
  padding-right: 6px;
}
.sh_dres_rgt{
  float: right;
  margin-top: 15px;
  line-height: 1.4rem;
  color: #bbb;
}
.zf_way_main{
  padding: 10px 0px;
  font-size: 0.7rem;
  color: #999;
  overflow: hidden;

}

.zf_way_mainlft{
  width: 70%;
  float: left;
  padding-top: 3px;
  text-shadow: 0px 0px 0px #999;
}
.zf_way_mainlft img{
  width: 1rem;
  height: 1rem;
  margin-right: 8px;
  float: left;
}
.zf_way_mainrgt{
  float: right;
  text-align: right;
  color: #bbb;
}
.zf_way_mainrgt span{
  padding-right: 5px;
  color: #333;
}
.order_product{
  padding-bottom: 12px;
}


.gwc_item{
  width: 100%;
  border-radius: 10px;
  background: #fff;
  margin-top: 10px;
  overflow: hidden;
}
.gwc_item_name{
  padding: 20px 14px 0px 14px;
  overflow: hidden;
}
.gwc_shangpin{
  padding-bottom: 10px;
  overflow: hidden;
}
.xuanze{
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 0.1rem;
  float: left;
  overflow: hidden;

}
.xuanze img{
  width: 100%;
  border-radius: 0.1rem;
}
#checkbox{
  width: 20px;
  height: 20px;
}
.gwc_item_title{
width: 88%;
line-height: 1.4rem;
float: left;
font-size: 0.8rem;
/*padding-left: 10px;*/
color: #333;
text-shadow: 0px 0px 0px #333;
}
.aui-media-list .aui-list-item {
    padding: 0 14px;
    /*margin-bottom: 10px;*/
    background-size: 100% 0px;
}

.aui-list .aui-list-item-media {
    width: 5rem;
    height: 5rem;
    margin: 18px 0px;
    padding: 0px;
    overflow: hidden;
    border-radius: 6px;
    /*background: #f00;*/
}
.aui-list .aui-list-item-media img {
  /*width: 100%;*/
      border-radius: 6px;
}
.aui-list .aui-list-item-inner {
    padding-left: 14px;
    padding-right: 0px;
}
.aui-list .pro-list-item-title {
    font-size: 0.7rem;
    line-height: 1rem;
    padding-top: 0.4rem;
    color: #333;
    text-shadow: 0px 0px 0px #333;
    /*margin-bottom: 1.3rem;*/
}
.pro_dis{
  background-color: #f5f5f5;
  font-size: 0.6rem;
  border-radius: 4px;
  color: #999;
  line-height: 0.8rem;
  margin-top: 5px;
  padding:4px 8px;
}
.aui-list-item-text.pro_price{
  width: 100%;
  /*margin: 10px 0 0 0;*/
  /*position: absolute;
  bottom: 16px;*/
}
.aui-list-item-text.pro_price .item_price{
  width: 40%;
  float: right;
  text-align: right;

}
.pro_price img{
  width: 1.5rem;
}
 .aui-list .item_price {
    color: #eb7825;
    font-size: 0.5rem;
}
.item_num{
  width: 30%;
  float: left;
}

.item_price span{
  font-size: 0.75rem;
  text-shadow: 0px 0px 0px #eb7825;
  font-family:"Arial";
}
.aui-list-item-text .item_rate{
  font-size: 0.6rem;
}
.aui-list-item .xuanze{
  margin-top: 20px;
}
.item_num i{
  color: #ddd;
  font-size: 1rem;
  padding: 0px 5px;
  float: left;
}
.item_num_sz{
  width: 1.8rem;
  border: solid 1px #ddd;
  border-radius: 3px;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  float: left;
  margin-top: 5px;
}
.item_num_sz input{
  font-size: 0.65rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
}

/*店铺服务*/
.order_pro_fw{
  padding: 10px 14px 0px 3rem;
  overflow: hidden;
}
.order_pro_send{
  line-height: 2rem;
  font-size: 0.65rem;
  overflow: hidden;
}
.or_pro_lft{
  width: 20%;
  float: left;
  color: #999;
  overflow: hidden;
}
.or_pro_rgt{
  width: 78%;
  float: right;
  text-align: right;
  overflow: hidden;
}
.or_pro_rgt i{
  color: #ddd;
  font-size: 0.6rem;
  padding-left: 5px;
}
.or_pro_rgt input{
  line-height: 1.8rem;
  height: 1.8rem;
  padding-top: 1px;
  text-align: right;
  /*background-color: #f9f9f9;*/
  font-size: 0.65rem;
  padding-top: 3px;
}
.or_pro_rgt input::placeholder{
  color: #bbb;
}
.xiaoji{
  line-height: 1.8rem;
  font-size: 0.65rem;
  color: #999;
  text-align: right;
}
.xj_title{
  color: #333;
  padding-left: 5px;
}
.xj_fh{
  font-size: 0.55rem;
  color: #eb7825;
}
.xj_price{
  font-size: 0.9rem;
  text-shadow: 0px 0px 0px #eb7825;
  color: #eb7825;
}



.order_footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    line-height: 3rem;
    background-color: #fff;
    font-size: 0.7rem;
    padding-left: 14px;
    /*text-align: right;*/
    z-index: 10;
}
.order_footer .aui-btn{
    width:5rem;
    height: 1.9rem;
    line-height: 1.9rem;
    font-size: 0.7rem;
    color:#fff;
    text-shadow: 0px 0px 0px #fff;
    background:linear-gradient(to right bottom,#ff9a16,#eb4a25);
    border-radius:50rem;
    margin-right: 14px;
    margin-top: 0.55rem;
    float: right;
}
.order_footer .footer_price{
    margin-right: 10px;
    font-size: 1rem;
    color: #eb7825;
    text-shadow: 0px 0px 0px #eb7825;
}
.all_selected{
    /*position: absolute;
    top: 0;
    bottom: 0;*/
    width: 3.7rem;
    line-height: 3.2rem;
    float: left;
}
.all_selected input{
    position: absolute;
    top:50%;
    margin-top: -0.5rem;
    left: 14px;
}
.heji{
  width: 46%;
  float: left;
  overflow: hidden;
  /*background: #f00;*/
}
.heji_price{
  color: #eb7825;
  font-size: 0.6rem;
  padding-left: 5px;
}
.all_selected span{
}
.top_line{
  border: none;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: top;
  background-image: linear-gradient(0,#f0f0f0,#f0f0f0 50%,transparent 50%);
  background-image: -webkit-linear-gradient(90deg,#f0f0f0,#f0f0f0 50%,transparent 50%);
}
.no_address{
  float: left;
  width: 80%;
  margin: 15px 0;
}
