html, body {
    background-color: transparent;
}

[v-cloak] {
    display: none;
}

.order {
    margin-bottom: 10px;
}

.order .aui-list {
    background-size: 0px;
}

.order .aui-list-item {
    background-size: 0px;
}

.order .product_title {
    font-size: 0.6rem;
}

.order .product_type {
    font-size: 0.6rem;
    margin-top: 10px;
}

.order .product_price {
    font-size: 0.6rem;
    margin-top: 10px;
    color: red;
}

.order .product_quantity {
    color: #212121;
}

.order .aui-list-item-media {
    height: 6rem;
}

.payment {
    padding-bottom: 3rem;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 260px;
    z-index: 100;
}

.aui-list .aui-list-item-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}

.payment .aui-list .aui-list-item-title {
    font-size: 0.7rem;
    width: 90%;
}

.payment .aui-list .aui-list-item-right {
    font-size: 0.7rem;
    color: #212121;
}

.payment .aui-list .aui-list-item-label {
    font-size: 0.7rem;
}

.payment .aui-list .aui-list-item-input input[type=text] {
    font-size: 0.7rem;
}

.ship .aui-form-list {
    background-size: 0px;
}

.order .aui-list-footer {
    padding: 10px 0.75rem;
}

.order .order_totalcount {
    font-size: 0.6rem;
    color: #212121;
    width: 100%;
    text-align: right;
}

.order .order_xiaoji {
    font-size: 0.6rem;
    color: #212121;
}

.order .order_price {
    color: red;
}

.order_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.6rem;
    line-height: 2.6rem;
    background-color: #fff;
    border-top: solid 1px #dddddd;
    font-size: 0.7rem;
    text-align: left;
    z-index: 100;
}

.order_footer .aui-btn {
    height: 2.6rem;
    line-height: 2.6rem;
    font-size: 0.7rem;
    color: #fff;
    background-color: #ffc107;
    border-radius: 0;
    padding: 0 1rem;
    width: 45%;
    float: right;
}

.order_footer .footer_price {
    color: red;
    margin: 0 10px;
}

.footer_left {
    display: inline-block;
    width: 50%;
    padding-left: 15px;
}

.aui-list .aui-list-item-label-icon {
    padding-left: 0.75rem;
    padding-right: 0.2rem;
}

.aui-list .aui-list-item-label-icon .iconfont.icon-weixin {
    color: #2AAC38;
    font-size: 1rem;
}

.aui-list .aui-list-item-label-icon .iconfont.icon-alipay {
    color: #07a0f8;
    font-size: 1rem;
}

.aui-list .aui-list-item-label-icon .icon-zhanghuchongzhi-copy {
    color: #ffc107;
    font-size: 1rem;
}

.aui-list .aui-list-header {
    background-color: #ffc107;
    color: #fff;
}

.payment .aui-list .aui-list-header {
    padding: 0.5rem;
}

.order .aui-list .aui-list-header {
    padding: 0 0.5rem;
}

.aui-list .aui-list-header .aui-list-item-title {
    color: #fff;
    font-size: 0.7rem;
    padding-top: 0.1rem;
}

.aui-list .aui-list-header img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.order .aui-list-item-right.product_price_box {
    width: 3rem;
    text-align: right;
}

.product_title .aui-list-item-right {
    color: red;
}

.shadow {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 98
}
