html,body{
  background-color: transparent;
}
[v-cloak] {
    display: none;
}
.top_line{
  border: none;
      background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: top;
      background-image: linear-gradient(0,#f0f0f0,#f0f0f0 50%,transparent 50%);
}
.buy_box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9990;
}
.product_title {
    font-size: 1rem;
    padding: 10px 0;
}
.product_realprice {
    font-size: 0.6rem;
    color: #ff0000;
    margin-right: 10px;
    line-height: 1rem;
}
.product_realprice span{
  font-size: 1rem;
}
.product_cost {
    text-decoration: line-through;
    color: #808080;
    line-height: 1rem;
    font-size: 0.7rem;
}
.buy_box .shadow {
    background:rgba(0,0,0,0.5);
    -moz-opacity: 0.2;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index:9991
}

.buy_box .buy_content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 30%;
    background-color: #fff;
    z-index:9992
}
.buy_content .buy_content_img{
    position: absolute;
    top: -20px;
    left: 14px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border:solid 1px #fff;
    background-color: #fff;
}
.buy_content .buy_content_img img{
  border-radius: 5px;
}
.buy_content .buy_content_right{
    position: absolute;
    top: 0px;
    left: 120px;
    right: 10px;
}
.buy_content .buy_content_center{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 2.3rem;
    /*border-top:solid 1px #ddd;*/
    padding-bottom: 2rem;
    overflow-y: auto;
}
.buy_content_variant{
    padding: 20px 10px 30px 10px;
}
.buy_content_variant .variant_title{
    line-height: 30px;
    font-size: 0.7rem;
}
.buy_content_variant .variant_name label{
    /*border: solid 1px #ddd;*/
    padding: 3px 10px;
    border-radius: 50rem;
    font-size: 0.6rem;
    margin-right: 0.5rem;
    color: #333;
    margin-top: 0.6rem;
    background: #f5f5f5;
}
.buy_content_variant .variant_name label.active{
    border: solid 1px #eb7825;
    background: #fff6ef;
    color:#eb7825;
}
.buy_content_quantity{
    padding: 0px 10px 0px 10px;
}
.buy_content_quantity .quantity_title{
    line-height: 30px;
    font-size: 0.7rem;
}
.aui-bar-btn{
    min-height: 1rem;
    width: 50%;
    float: left;
}
.aui-bar-btn-item{
    line-height: 1.2rem;
    border: solid 1px #f0f0f0;
    background-color: #fff;
    color: #f0f0f0;
}
.aui-bar-btn-item:first-child{
    border-right: 0px;
}
.aui-bar-btn .aui-input, .aui-bar-btn input{
    height: 1.3rem;
    font-size: 0.6rem;
}
.aui-bar-btn-item .iconfont{
    color:#333;
    font-size:0.6rem;
}
.shoppingcart {
  width: 100%;
    background-color: #f00;
    /*color: #fff;*/
}
.aui-bar-tab-item.shoppingcart{
  width: 45%;
  border-radius: 50px;
  background:linear-gradient(to right bottom,#ffd234,#ff9a16);
  height: 1.9rem;
  line-height: 1.9rem;
  margin-top: 12px;
  margin-left: 14px;
  float: left;
  text-align: center;
  font-size: 0.7rem;
  text-shadow: 0px 0px 0px #fff;
  color: #FFFFFF;
}
.aui-bar-tab-item.buynow{
  width: 45%;
  border-radius: 50px;
  /*background-color: #007AFF;*/
  background:linear-gradient(to right bottom,#ff9a16,#eb4a25);
  height: 1.9rem;
  line-height: 1.9rem;
  margin-top: 12px;
   margin-right: 14px;
  float: right;
  text-align: center;
  font-size: 0.7rem;
  text-shadow: 0px 0px 0px #fff;
  color: #FFFFFF;
}

.shoppingcart .aui-bar-tab-label,
.buynow .aui-bar-tab-label,.confirmbuy .aui-bar-tab-label {
    font-size: 0.8rem;
}

.aui-bar-tab .aui-bar-tab-item.shoppingcart {
    border-right: solid 1px #fff;
}
.buy_content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
}
.product_totalcount{
    position: absolute;
    top: 0;
    right: 30%;
    color:#fff;
    width: 0.8rem;
    height: 0.8rem;
    background: red;
    border-radius: 50%;
    line-height: 0.8rem;
    font-size: 0.6rem;
}
.sub_menu_box {
    width: 100%;
    z-index: 999;
    background-color: #f0f0f0;
    padding: 5px 10px 10px 10px;
}

.sub_menu_box label {
    border: solid 1px #ccc;
    border-radius: 15px;
    color: #808080;
    font-size: 0.7rem;
    padding: 0px 15px;
    margin-right: 10px;
    background-color: #fff;
    line-height: 1.2rem;
    margin-top: 5px;
}
.sub_menu_box label.active {
    border: solid 1px #ffc107;
    background-color: #ffc107;
    color:#fff;
}
.aui-media-list .aui_list_item_footer{
    height: 5px;
    background-color: #dddddd;
}
