html,body {
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*评价*/
.pingjia{
  background:#fff;
}
.pj_top{
  height: 0.8rem;
  line-height: 0.8rem;
  border-left: solid 4px #eb7825;
  font-size: 0.65rem;
  color: #999;

}
.pj_top span{
  font-size: 0.8rem;
  padding-left: 8px;
  padding-right: 8px;
  color: #333;
  text-shadow: 0px 0px 0px #333;
}
.pj_item{
  padding: 15px 0px;
  margin: 0px 14px;
}
.pj_item_self{
  padding: 5px 0px;
  overflow: hidden;
}
.self_touxiang{
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50rem;
  float: left;
}
.self_touxiang img{
  border-radius: 50rem;
}
.self_msg{
  width: 87%;
  float: right;
  /*background: #f00;*/
}
.self_name_time{
  height: 1rem;
  line-height: 1rem;
}
.self_name{
  width: 60%;
  float: left;
  font-size: 0.7rem;
  color: #333;
}
.self_time{
  width: 30%;
  float: right;
  text-align: right;
  font-size: 0.6rem;
  color: #999;
}
.self_dengji{
  line-height: 0.6rem;
}
.pj_item_msg{
  padding-top: 6px;
  font-size: 0.65rem;
  line-height: 1rem;
}
.aui-col-xs-3 .aui-col-pjpic{
  border-radius: 6px;
  overflow: hidden;
}
.aui-col-xs-3.aui-col-pjpic img{
  border-radius: 6px;
  padding: 2px;
  width: 100%;
  height: 100%;
}
.pj_item_msg_type{
  padding-top: 10px;
  font-size: 0.55rem;
  color: #999;
}
.bt_line{

  border: none;
      background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
      background-image: linear-gradient(0,#f0f0f0,#f0f0f0 50%,transparent 50%);
      background-image: -webkit-linear-gradient(90deg,#f0f0f0,#f0f0f0 50%,transparent 50%);
}
