body {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[v-cloak] {
    display: none;
}

.btn_line{
    border: none;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: linear-gradient(0,#f0f0f0,#f0f0f0 50%,transparent 50%);
    background-image: -webkit-linear-gradient(90deg,#f0f0f0,#f0f0f0 50%,transparent 50%);
}
.fw_business{
  padding-top: 10px;
}
.fw_business li{
  padding-top: 10px;
}
.fw_title{
  padding: 5px 14px 10px 14px;
  line-height: 1.5rem;
  font-size: 0.8rem;
  text-shadow: 0px 0px 0px #000;
  color: #000;
}
.fw_main{
  padding: 0px 10px;
}
.fw_main_item{
  padding: 8px 4px;
  text-align: center;
  font-size: 0.6rem;
  color: #333;
}
.fw_main_item img{
  width: 1.5rem;
  margin: 0 auto;
  padding-bottom: 5px;
}
