[v-cloak] {
    display: none;
}

input[type="datetime-local"]:before {
    content: attr(placeholder);
    color: #ccc;
}

::-webkit-input-placeholder {
    color: #ccc;
}

input.datetime_text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

* {
    font-size: 0.7rem;
}

html, body {
    background: #f0f0f0;
}

.shouhuodizhi {
    width: 100%;
    margin-bottom: 3.2rem;
    margin-top: 10px;
    background: #fff;
    border-radius: 8px;
}

.shdz_main {
    margin: 0px 14px;
    line-height: 1rem;
    padding: 14px 0px;
    color: #999;
    font-size: 0.65rem;
    position: relative;
}

.shdz_main span {
    color: #eb7825;
    font-size: 1rem;
    padding-right: 3px;
}

.btn_line {
    border: none;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: linear-gradient(0, #f0f0f0, #f0f0f0 50%, transparent 50%);
    background-image: -webkit-linear-gradient(90deg, #f0f0f0, #f0f0f0 50%, transparent 50%);
}

.bsbx_btm.top_line {
    border: none;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: linear-gradient(0, #f0f0f0, #f0f0f0 50%, transparent 50%);
    background-image: -webkit-linear-gradient(90deg, #f0f0f0, #f0f0f0 50%, transparent 50%);
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.shdz_name {
    line-height: 1.4rem;
    overflow: hidden;
}

.shdz_name_lft {
    width: 60%;
    font-size: 0.6rem;
    color: #999;
}

.shdz_name_lft span {
    font-size: 0.8rem;
    color: #333;
    text-shadow: 0px 0px 0px #333;
}

.shdz_name_rgt {
    width: 40%;
    text-align: right;
}

.shdz_name_rgt span {
    /*padding: 0px 15px;*/
    /*border-radius: 50rem;*/
    line-height: 0.8rem;
    font-size: 0.6rem;
    color: #999;
    text-align: center;
}

.shdz_name_rgt span.edit {
    padding-right: 10px;
    border-right: solid 1px #f9f9f9;
}

.shdz_name_rgt span.delete {
    padding-left: 10px;
}

.shdz_address {
    width: 100%;
    font-size: 0.7rem;
    line-height: 1rem;
    color: #333;
}

.bsbx_btm {
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0px;
    background: #fff;
    overflow: hidden;
}

.bsbx_add {
    width: 92%;
    margin: 0 auto;
    height: 2rem;
    line-height: 2rem;
    margin-top: 0.5rem;
    border-radius: 50rem;
    text-align: center;
    background: #eb7825;
    color: #fff;
    font-size: 0.7rem;
    text-shadow: 0px 0px 0px #fff;
    overflow: hidden;
}

.maskaddress {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.maskaddresscontent {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 11;
}

.maskbg {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0);
}

.maskoperation {
    text-align: center;
    height: 50px;
    font-size: 0.65rem;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 0;
    right: 0;
}

.maskoperation span {
    width: 50px;
    text-align: center;
    color: #000;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    line-height: 50px;
    font-size: 0.65rem;
    margin-left: 30px;
}

.maskoperation span.first {
    margin-left: 0;
}
