
.content-style p{
  margin-bottom: 10px;
}
.content-style img{
/*width: 20%;*/
/*height: auto;*/
margin: 10px auto;
/*display: inline-block;*/
}
.content-style p{
color: #333;
margin-top: 10px;
line-height: 1rem;
padding: 0px 20px;
}
