html,
body {
    height: auto;
}
#main_refresh{
  position: absolute;
  top:35px;
  bottom: 0;
  left: 0;
  right: 0;
  /*margin-top: 35px;*/
  /*height: auto;*/
}
#app, .aui-refresh-content {
    height: auto;
}
.aui-list.aui-form-list {
    width: 96%;
    margin: 4px 2% 7px 2%;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    padding: 0 4px;
}

.aui-list .aui-row {}

.aui-list .aui-list-header {
    display: block;
    background-color: #fff;
    font-size: 0.72rem;
    padding: 5px 10px;
}

.aui-list .aui-list-item {
    min-height: 1.35rem;
    padding: 0 10px;
}

.aui-list .aui-list-item-inner {
    min-height: 1.35rem;
}

.aui-list .aui-list-item-label {
    font-size: 0.72rem;
    line-height: 1.35rem;
}

.aui-list .aui-list-item-input {
    font-size: 0.72rem;
}

.aui-list .aui-list-item-label.auto {
    color: #808080;
}

.aui-list .aui-list-item-label .iconfont {
    font-size: 0.65rem;
    margin-top: -1px;
    margin-right: 4px;
}

.aui-input, input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="datetime-local"], input[type="time"], input[type="number"], select, textarea {
    text-align: right;
}

.aui-list .aui-list-item-label {
    width: 39%;
}

.aui-list .aui-list-item-input {
    text-align: left;
    margin-top: -1px;
}

.btnFloat i.iconfont {
    font-size: 2rem;
    color: #29ab91;
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    z-index: 20;
    width: 2rem;
    height: 2rem;
}

.aui-grid {
    padding: 0 2%;
}

.aui-grid .aui-col-xs-9 {
    text-align: left;
    padding: 0;
    width: 60%;
}

.aui-grid .aui-col-xs-3 {
    text-align: right;
    width: 40%;
    padding: 0 2%;
}

.aui-grid .aui-grid-label .search-btn .iconfont {
    font-size: 110%;
    color: #616161;
}

.aui-grid .aui-grid-label {
    margin: 0 5px 0 5px;
    line-height: 35px;
}

.aui-grid .aui-grid-label .search-btn {
    border-left: solid 1px #f1f1f1;
    padding-left: 20px;
    line-height: 20px;
}

.checkbtn {
    position: absolute;
    top: 3px;
    right: 0.8rem;
    z-index: 10;
}

.aui-radio, .aui-checkbox {
    width: 0.8rem;
    height: 0.8rem;
    margin-top: 0.2rem;
}
