.bottombtn {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.aui-list .aui-list-header {
    font-size: 0.8rem;
}

.aui-list {
    width: 90%;
    margin: 0 auto;
}

    .aui-list,
    .aui-list .aui-list-item {
        background-size: 0px;
    }

        .aui-list .aui-list-item-label {
            width: 25%;
        }

        .aui-list .aui-list-item-input {
            padding: 0.2rem;
        }

            .aui-list .aui-list-item-input input {
                padding: 0.2rem 0 0.2rem 0.2rem;
                font-size: 0.9rem;
                border-bottom: solid 1px #f0f0f0;
            }

.aui-content {
    padding-bottom: 2.6rem;
}

.logo {
    padding: 50px 0 20px 0;
}

    .logo img {
        margin: 0 auto;
        width: 100px;
    }

.login_left {
    margin-top: 10px;
    width: 45%;
    float: left;
    margin-left: 5%;
    font-size: 0.6rem;
}

.login_right {
    margin-top: 10px;
    width: 45%;
    float: right;
    text-align: right;
    margin-right: 5%;
    font-size: 0.7rem;
}

.aui-btn {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 1.2rem;
    line-height: 2.2rem;
    height: 2.2rem;
    background-color: #29ab91;
    font-size: 0.85rem;
    color: #fff;
}

i.iconfont {
    font-size: 16px;
    color: #29ab91;
}
