<!DOCTYPE HTML>
<html>

<head>
    <title>选择存放地点</title>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="./css/formlist.css" />
    <link rel="stylesheet" type="text/css" href="../css/comm.css" />
    <link rel="stylesheet" type="text/css" href="./css/chooselocation.css" />
</head>

<body>
    <div id="app">
        <div class="aui-content pb50">
            <ul class="aui-list">
                <li class="aui-list-item aui-list-item-arrow">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            选择公司：
                        </div>
                        <div class="aui-list-item-input">
                            <input readonly="readonly" v-on:click="do_select_company()" type="text" v-model="form.DeptName" placeholder="请选择">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item aui-list-item-arrow">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            选择楼栋：
                        </div>
                        <div class="aui-list-item-input">
                            <select v-model="form.BuildingID" @change="do_choose_building()">
                              <option v-for="item in buildinglist" v-bind:value="item.id">{{item.title}}</option>
                            </select>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="choose-title">
                选择场地：
            </div>
            <div class="location-info" v-if="form.FloorHeight.length>0">
                <div class="location-label">请左右滑动选择房间</div>
                <div class="location-floor">
                    <label v-for="height in form.FloorHeight">{{height}}楼</label>
                </div>
                <div class="location-row">
                    <div v-bind:style="roomStyle(height)" class="location-room" v-for="height in form.FloorHeight">
                        <label v-for="item in floorlist" v-on:click="do_select_room(item)" v-if="item.FloorID==height">{{item.title}}</label>
                    </div>
                </div>
            </div>
        </div>
        <footer class="aui-bar aui-bar-tab" id="footer">
            <div class="aui-bar-tab-item" v-on:click="do_select_building()">
                <label class="aui-bar-tab-label">选择该楼栋</label>
            </div>
        </footer>
    </div>
</body>
<script type="text/javascript" src="../script/api.js "></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js "></script>
<script type="text/javascript" src="../script/common.js "></script>
<script type="text/javascript" src="js/chooselocation.js "></script>

</html>
