
<!DOCTYPE HTML>
<html>

<head>
    <title>处置编辑</title>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="./css/formlist.css" />
    <link rel="stylesheet" type="text/css" href="../css/comm.css" />
</head>

<body>
    <div id="app">
        <div v-if="!hideeditbtn" class="btnFloat" v-on:click="do_open_operation()">
            <i class="icon iconfont iconfont2 iconxiugai1"></i>
        </div>
        <div class="aui-content pb60">
            <ul class="aui-list">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label auto">
                            处置单号：
                        </div>
                        <div class="aui-list-item-input auto">
                            <input v-if="form.ID<=0" type="text" readonly="readonly" v-model="form.Code" placeholder="系统自动生成">
                            <span v-else>
                                {{form.Code}}
                                <font v-if="form.OrderStatus==10">(待处置)</font>
                                <font v-if="form.OrderStatus==0">(已完成)</font>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-bind:class="{'aui-list-item-arrow':canedit}">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            <i class="red">*</i>处置方式：
                        </div>
                        <div class="aui-list-item-input">
                            <input v-on:click="do_select_type()" type="text" v-if="canedit" readonly="readonly" v-model="form.ChuZhiTypeDesc" placeholder="请选择">
                            <span v-else>{{form.ChuZhiTypeDesc}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-bind:class="{'aui-list-item-arrow':canedit}">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            <i class="red">*</i>处置日期：
                        </div>
                        <div class="aui-list-item-input">
                            <input v-on:click="do_select_date()" type="text" v-if="canedit" readonly="readonly" v-model="form.FromDateDesc" placeholder="请选择">
                            <span v-else>{{form.FromDateDesc}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            处置金额：
                        </div>
                        <div class="aui-list-item-input">
                            <input v-if="canedit" type="text" v-model="form.Total" placeholder="请输入">
                            <span v-else>{{form.Total}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label auto">
                            经办人：
                        </div>
                        <div class="aui-list-item-input auto">
                            <span>{{form.CRUserRealName}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            处置说明：
                        </div>
                        <div class="aui-list-item-input">
                            <input v-if="canedit" type="text" placeholder="请输入" v-model="form.Content" />
                            <span v-else>{{form.Content}}</span>
                        </div>
                    </div>
                </li>
            </ul>

            <!--<div class="">
                <ul class="aui-list aui-list-sub aui-form-list ">
                    <li class="aui-list-item" style="position:relative;">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                资产编码：
                            </div>
                            <div class="aui-list-item-input">
                                43534543534534
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                资产名称-分类：
                            </div>
                            <div class="aui-list-item-input">
                                砍刀dsfuyhkids附近可适当地洒落开发商将考虑个看电视监控第三方水电费会计师的货架上的符号是多少-机房电脑
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                使用人-部门：
                            </div>
                            <div class="aui-list-item-input">
                                于坤-信息中心
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                存放地点
                            </div>
                            <div class="aui-list-item-input">
                                12楼机房
                            </div>
                        </div>
                    </li>
                </ul>
            </div>-->
            <div v-for="item in zclist" class="zc-choose-box">
                <div class="checkbtn" v-on:click="do_select_zcitem(item)" v-if="canedit">
                    <label><input class="aui-checkbox" type="checkbox" name="delete" v-bind:checked="item.ischecked"></label>
                </div>
                <ul class="aui-list aui-list-sub aui-form-list " v-on:click="do_select_zcitem(item)">
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                资产编码：
                            </div>
                            <div class="aui-list-item-input">
                                {{item.Code}}
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                资产名称-分类：
                            </div>
                            <div class="aui-list-item-input">
                                {{item.Name}}-{{item.Title}}
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                使用人-部门：
                            </div>
                            <div class="aui-list-item-input">
                                {{item.UserDesc}}-{{item.Abbre}}{{item.DepartmentName}}
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                存放地点：
                            </div>
                            <div class="aui-list-item-input">
                                {{item.LocTitle}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <footer class="aui-bar aui-bar-tab" id="footer" v-if="canedit">
                <div class="aui-bar-tab-item" v-on:click="do_add_zc()">
                    <label class="aui-bar-tab-label"><i class="icon iconfont iconxinzeng1"></i>添加资产</label>
                </div>
                <div class="aui-bar-tab-item" v-on:click="do_open_scan()">
                    <label class="aui-bar-tab-label"><i class="icon iconfont iconAnkerwebicon-"></i>扫码添加</label>
                </div>
                <div class="aui-bar-tab-item" v-on:click="do_remove_zc()">
                    <label class="aui-bar-tab-label"><i class="icon iconfont iconshanchu"></i>删除资产</label>
                </div>
            </footer>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js "></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js "></script>
<script type="text/javascript" src="../script/common.js "></script>
<script type="text/javascript" src="js/chuzhiedit.js "></script>

</html>
