<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>社区生活</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/dl_bbsdetail.css" />
</head>

<body>
    <div id="app" v-cloak>
        <div class="aui-content">
            <ul class="aui-list aui-media-list">
                <li class="aui-list-item">
                    <section class="aui-chat">
                        <div class="aui-chat-item aui-chat-left">
                            <div class="aui-chat-media">
                                <img v-bind:src="form.headimage" />
                            </div>
                            <div class="aui-chat-inner chat_title">
                                <div class="aui-chat-name">
                                    <span class="aui-label lllt_name">{{form.Name}}</span>
                                    <span class="chat_time">{{form.AddTime}}</span>
                                </div>
                            </div>
                            <div class="aui-chat-inner chat_content">
                                <div v-html="form.Content"></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </section>
                </li>
                <li class="aui-list-item" style="padding-left: 2rem;" v-if="imglist.length>0">
                    <div class="aui-row aui-row-padded">
                        <div class="aui-col-xs-4" v-for="(item, index) in imglist">
                            <img v-on:click="img_browser(index)" v-bind:src="item.url" />
                        </div>
                    </div>
                </li>
                <li class="aui-list-item comment_bottom">
                    <div class="aui-row">
                        <div class="aui-col-xs-6 chat_location">
                            <label class="location">{{form.myxiaoquname}}</label>
                        </div>
                        <div class="aui-col-xs-6 chat_rate" v-if="form.cancomment">
                            <label v-on:click="do_praise()">
                                <i class="icon iconfont icon-zan" v-bind:class="{'isactive':form.ispraised}"></i> {{form.praisecountdesc}}
                            </label>
                            <label v-on:click="start_post(0)">
                                <i class="icon iconfont icon-pinglun1"></i> 评论
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="aui-content comment">
            <h3>全部评论</h3>
            <section class="aui-chat" v-for="item in commentlist" v-on:click="start_post(item.UserID,item.Name)">
                <div class="aui-chat-item aui-chat-left">
                    <div class="aui-chat-media">
                        <img v-bind:src="item.headimage" />
                    </div>
                    <div class="aui-chat-inner">
                        <div class="aui-chat-name">
                            <span class="aui-label pl_nomol">{{item.Name}}</span>
                            <span class="aui-label pl_nomol">{{item.myxiaoquname}}</span>
                            <span class="chat_time">{{item.AddTime}}</span>
                        </div>
                        <div class="aui-chat-content" style="background-color: #fff;">
                            <label v-if="item.ResponseUserID>0">回复<span style="color:#808080;">{{item.ResponseUserName}}</span>
                            </label>
                            {{item.Content}}
                        </div>
                    </div>
                </div>
            </section>
            <div id="noorder" v-if="havenocomments" style="vertical-align: middle; text-align: center;margin-top:10%;margin-bottom:10%;">
                <i class="icon iconfont icon-dingdan" style="font-size:70px; color:#99C87D;"></i>
                <h5><br />暂无相关评论</h5>
            </div>
        </div>
        <div class="chat_bottom" v-if="form.cancomment&&!form.userforbiddened">
            <table class="chat_table">
                <tr>
                    <td class="second" v-on:click="start_post(0)">
                        <textarea id="textarea" v-model="comment.Content" placeholder="说点什么吧..."></textarea>
                    </td>
                    <td class="third" v-on:click="do_post()">发送</td>
                </tr>
            </table>
        </div>
        <div class="shadow" v-on:click="hide_keyboard()" v-if="show_keyboard"></div>
    </div>
</body>
<script type="text/javascript " src="../script/api.js "></script>
<script type="text/javascript " src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/textarea.js"></script>
<script type="text/javascript " src="js/dl_bbsdetail.js "></script>

</html>
