<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>购物车</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-slide.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-pull-refresh.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/dl_gouwuche.css" />
</head>

<body>
    <!-- v-cloak -->
    <div id="app" v-cloak>
        <div class="gouwuche">
            <div class="gwc_item" v-for="(item,index) in cartlist">
                <div class="gwc_item_name" v-on:click="do_select_business(item)">
                    <div class="xuanze">
                        <input class="aui-checkbox" type="checkbox" v-bind:checked="item.business.ischecked">
                    </div>
                    <div class="gwc_item_title">{{item.business.name}}</div>
                </div>
                <div class="gwc_shangpin">
                    <ul class="aui-list aui-media-list" style="background-size:100% 0px;">
                        <li class="aui-list-item" v-for="item2 in item.productlist">
                            <div class="xuanze" v-on:click="do_select(item2)">
                                <input class="aui-checkbox" type="checkbox" v-bind:checked="item2.checked">
                            </div>
                            <div class="aui-media-list-item-inner btn_line">
                                <div class="aui-list-item-media">
                                    <img v-bind:src="item2.imageurl" />
                                </div>
                                <div class="aui-list-item-inner">
                                    <div class="pro-list-item-title aui-ellipsis-2">
                                        {{item2.title}}
                                    </div>
                                    <div class="pro_dis">
                                        {{item2.desc}}
                                    </div>
                                    <div class="aui-list-item-text pro_price" style="margin: 10px 0 0 0;">
                                        <div class="item_price">
                                            ￥<span>{{item2.price.toFixed(2)}}</span>
                                        </div>
                                        <div class="item_num">
                                            <i v-on:click="reduce_count(item2)" class="icon iconfont iconjian11" style="font-size:1rem;"></i>
                                            <div class="item_num_sz"><input type="text" readonly="readonly" v-model:value="item2.quantity"></div>
                                            <i v-on:click="add_count(item2)" class="icon iconfont iconjiabukedianji"></i>
                                        </div>
                                        <!-- <img src="../image/icon/add_gwc.png"/> -->
                                        <!-- <span class="item_rate">
                                      营业时间：08:30-22:30
                                    </span> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 底部 -->
            <div class="gwc_btn top_line" v-if="cartlist.length>0">
                <div class="gwc_btn_main">
                    <div class="xuanze" v-on:click="select_all()">
                        <input class="aui-checkbox" type="checkbox" v-bind:checked="allchecked">
                    </div>
                    <div class="gwc_btn_price">￥<span>{{productsummary.totalprice}}</span></div>
                    <div class="gwc_btn_jiesuan" v-on:click="do_pay()">去结算</div>
                </div>
            </div>
        </div>
        <div id="noorder" v-if="cartlist.length==0&&!is_searching" style="vertical-align: middle; text-align: center;margin-top:45%;">
            <i class="icon iconfont iconshangpin" style="font-size:70px; color:#99C87D;"></i>
            <h5><br />购物车空空如也</h5>
        </div>
    </div>
</body>
<script type="text/javascript " src="../script/api.js "></script>
<script type="text/javascript " src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/aui-slide.js"></script>
<script type="text/javascript" src="../script/aui-pull-refresh.js"></script>
<script type="text/javascript" src="../script/aui-scroll.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript " src="js/dl_gouwuche.js "></script>

</html>
