<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>服务</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-slide.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-pull-refresh.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/dl_homeservice.css" />
</head>

<body>
    <!-- v-cloak -->
    <div id="app" v-cloak>
        <ul class="fw_business">
            <li>
                <div class="fw_title">物业服务</div>
                <div class="aui-row fw_main">
                    <div class="aui-col-xs-3 fw_main_item" v-on:click="open_wyjiaofei()">
                        <img src="../image/icon/fw_wyjf.png" />
                        <div>物业缴费</div>
                    </div>
                    <div class="aui-col-xs-3 fw_main_item" v-on:click="open_tousujylist()">
                        <img src="../image/icon/fw_fksq.png" />
                        <div>投诉建议</div>
                    </div>
                    <div class="aui-col-xs-3 fw_main_item" v-on:click="open_bsbxlist()">
                        <img src="../image/icon/fw_bsbx.png" />
                        <div>报事报修</div>
                    </div>
                    <div class="aui-col-xs-3 fw_main_item" v-on:click="open_fangkesq()">
                        <img src="../image/icon/fw_fksq.png" />
                        <div>访客授权</div>
                    </div>
                    <div class="aui-col-xs-3 fw_main_item" v-on:click="open_tongzhigglist()">
                        <img src="../image/icon/fw_fksq.png" />
                        <div>通知公告</div>
                    </div>
                    <div class="aui-col-xs-3 fw_main_item" v-on:click="open_wenjuandclist()">
                        <img src="../image/icon/fw_fksq.png" />
                        <div>问卷调查</div>
                    </div>
                    <div class="aui-col-xs-3 fw_main_item" v-on:click="open_shequtplist()">
                        <img src="../image/icon/fw_fksq.png" />
                        <div>社区投票</div>
                    </div>
                    <div class="aui-col-xs-3 fw_main_item" v-on:click="open_hujiaowy()">
                        <img src="../image/icon/fw_fksq.png" />
                        <div>呼叫物业</div>
                    </div>
                </div>
            </li>
            <li v-for="item in menus">
                <div class="fw_title">{{item.title}}</div>
                <div class="aui-row fw_main">
                    <div v-for="item2 in item.sub_menus" class="aui-col-xs-3 fw_main_item" v-on:click="open_servicedetail(item2)">
                        <img v-bind:src="item2.iconcss" />
                        <div>{{item2.title}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript " src="../script/api.js "></script>
<script type="text/javascript " src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/aui-slide.js"></script>
<script type="text/javascript" src="../script/aui-pull-refresh.js"></script>
<script type="text/javascript" src="../script/aui-scroll.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript " src="js/dl_homeservice.js "></script>

</html>
