<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>我的家庭成员</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-slide.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-pull-refresh.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/dl_myfamily.css" />
</head>

<body>
    <!-- v-cloak -->
    <div id="app" v-cloak>
        <div class="myfamily">
            <ul>
                <!-- 业主 -->
                <li v-for="item in list">
                    <div class="family_list">
                        <div class="family_name">
                            <div class="family_lft" v-on:click="do_add('编辑成员',item.id,item.isMain)">
                                姓名
                            </div>
                            <div class="family_rgt" v-on:click="do_add('编辑成员',item.id,item.isMain)">
                                {{item.name}}
                                <span v-if="item.isMain" class="yezhu">业主</span>
                                <span v-else class="chengyuan">{{item.FamilyTypeDesc}}</span>
                            </div>
                            <div v-if="item.canDelete" class="btn_remove" v-on:click="do_remove(item.id)">
                                <i class="icon iconfont iconshanchu"></i>
                            </div>
                        </div>
                        <div class="family_num" v-on:click="do_add('编辑成员',item.id,item.isMain)">
                            <div class="family_lft">
                                手机号码
                            </div>
                            <div class="family_rgt">
                                {{item.phone}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="canAdd" class="bsbx_btm" v-on:click="do_add('新增成员',0)">
            <div class="bsbx_add">新增家庭成员</div>
        </div>
    </div>
</body>
<script type="text/javascript " src="../script/api.js "></script>
<script type="text/javascript " src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/aui-slide.js"></script>
<script type="text/javascript" src="../script/aui-pull-refresh.js"></script>
<script type="text/javascript" src="../script/aui-scroll.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript " src="js/dl_myfamily.js "></script>

</html>
