<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>周边商家</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-slide.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-pull-refresh.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/dl_businesslist.css?v=1" />
</head>

<body>
    <!-- v-cloak -->
    <div id="app">
        <div class="aui-content top">
            <div id="top_menus">
                <div class="menu_box" id="main_menus">
                    <label v-bind:id="'label_'+item.id" v-for="item in menus" v-bind:class="{'active':categoryid==item.id}" v-on:click="do_select_menu(item)">
                    {{item.title}}</label>
                </div>
            </div>
        </div>
        <section id="main_refresh" class="aui-refresh-content">
            <!-- v-if="list.length>0" -->
            <div class="aui-content content">
                <ul class="aui-list aui-media-list" style="background-size:100% 0px;" v-for="(item,index) in list">
                    <template>
                        <li class="aui-list-item">
                           <!-- v-on:click="open_business(item)" -->
                            <div class="aui-media-list-item-inner item_business btn_line" v-on:click="open_business(item)">
                                <div class="aui-list-item-media">
                                  <div class="item-media-img">
                                    <img v-bind:src="item.imageurl"/>
                                  </div>

                                </div>
                                <div class="aui-list-item-inner">
                                    <div class="aui-list-item-title aui-ellipsis-2">
                                      {{item.title}}
                                    </div>
                                    <div class="aui-list-item-text">
                                        <span class="item_address aui-ellipsis">
                                    <!-- <i class="icon iconfont iconweizhi"></i> -->
                                    {{item.address}}
                                    </span>
                                     <!-- v-if="item.distance>0" -->
                                        <!-- <span class="item_distance"> -->
                                          <!-- {{item.distancedesc}} -->
                                          <!-- ee</span> -->
                                    </div>
                                    <div class="aui-list-item-text" style="margin: 25px 0 0 0;">
                                        <span class="item_rate">
                                          <!-- {{item.rate}} -->
                                          营业时间：{{item.BusinessHoursStart}}-{{item.BusinessHoursEnd}}
                                        </span><span class="item_price">
                                            <!-- {{item.price}} -->
                                          </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="aui_list_item_footer" v-if="list.length>1 &&index!=list.length-1"></li> -->
                    </template>
                </ul>
            </div>
            <div id="noorder" v-if="list.length==0&&!is_searching" style="vertical-align: middle; text-align: center;padding-top:40%;">
                <i class="icon iconfont icon-dingdan" style="font-size:70px; color:#99C87D;"></i>
                <h5><br />暂无相关商家</h5>
            </div>
        </section>
    </div>
</body>
<script type="text/javascript " src="../script/api.js "></script>
<script type="text/javascript " src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/aui-slide.js"></script>
<script type="text/javascript" src="../script/aui-pull-refresh.js"></script>
<script type="text/javascript" src="../script/aui-scroll.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript " src="js/dl_nearbyshoplist.js "></script>

</html>
