<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>订单详情</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/dl_order_detail.css" />
</head>

<body>
    <div id="app" v-cloak>
        <section v-for="orderitem in orderlist">
            <div class="order_detail">
                <div class="or_detail_main">
                    <div class="or_sh_name btn_line">
                        <div class="or_sh_lft">收货人</div>
                        <div class="or_sh_rgt">{{orderitem.myaddress.username}}</div>
                    </div>
                    <div class="or_sh_address">
                        <div class="or_sh_lft">收货地址</div>
                        <div class="or_sh_rgt">{{orderitem.myaddress.addressdetail}}</div>
                    </div>
                </div>
            </div>
            <div class="orderlist">
                <div class="order_list_item" v-for="item in orderitem.productlist">
                    <div class="gwc_item_name" v-on:click="open_business(orderitem.businessinfo.id)">
                        <!-- <div class="xuanze"> <img src="../image/business.jpg"/> </div> -->
                        <div class="gwc_item_title">{{orderitem.businessinfo.name}}<span class="item_title_type">进店看看</span></div>
                    </div>
                    <div class="order_product" v-on:click="open_product(item)">
                        <ul class="aui-list aui-media-list" style="background-size:100% 0px;">
                            <li class="aui-list-item">
                                <!-- <div class="xuanze"><input id="checkbox" type="checkbox"></div> -->
                                <div class="aui-media-list-item-inner btn_line">
                                    <div class="aui-list-item-media">
                                        <img src="../image/products.jpg" />
                                    </div>
                                    <div class="aui-list-item-inner">
                                        <div class="pro-list-item-title aui-ellipsis-2">
                                            {{item.title}}
                                        </div>
                                        <div class="pro_dis">
                                            {{item.pricedesc}}
                                        </div>
                                    </div>
                                    <!-- aui-list-item-text -->
                                    <div class=" pro_price" style="margin: 12px 0 0 0;">
                                        <div class="item_price">
                                            ￥<span>{{item.price.toFixed(2)}}</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- 店铺服务 -->
                        <div class="order_pro_fw">
                            <div class="order_pro_send">
                                <div class="or_pro_rgt" v-if="orderitem.productsummary.shiprateamount>0">
                                    运费<span class="yf">￥{{orderitem.productsummary.shiprateamount.toFixed(2)}}</span>
                                </div>
                            </div>
                            <!-- 小计 -->
                            <div class="xiaoji">
                                共{{orderitem.productlist.length}}件<span class="xj_title">小计：</span><span class="xj_fh">￥</span><span class="xj_price">{{orderitem.productsummary.totalprice.toFixed(2)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 订单详情信息 -->
            <div class="order_detail_msg">
                <div class="detail_msg_main">
                    <!-- btn_line -->
                    <div class="detail_msg_dd btn_line">
                        <div class="or_sh_name ">
                            <div class="detail_msg_lft">订单号</div>
                            <div class="detail_msg_rgt">{{orderitem.orderinfo.orderno}}</div>
                        </div>
                        <div class="or_sh_name ">
                            <div class="detail_msg_lft">订单状态</div>
                            <div class="detail_msg_rgt">{{orderitem.orderinfo.paystatus}}</div>
                        </div>
                        <div class="or_sh_name">
                            <div class="detail_msg_lft">订单金额</div>
                            <div class="detail_msg_rgt"> {{orderitem.orderinfo.totalpricedesc}}</div>
                        </div>
                        <div class="or_sh_name">
                            <div class="detail_msg_lft">订单创建时间</div>
                            <div class="detail_msg_rgt">{{orderitem.orderinfo.createtime}}</div>
                        </div>
                    </div>
                    <!-- </div>
        </div>
        <div class="order_detail_msg">
          <div class="detail_msg_main"> -->
                    <div class="or_sh_name">
                        <div class="detail_msg_lft">付款时间</div>
                        <div class="detail_msg_rgt">{{orderitem.orderinfo.paytime}}</div>
                    </div>
                    <div class="or_sh_name">
                        <div class="detail_msg_lft">付款方式</div>
                        <div class="detail_msg_rgt">{{orderitem.orderinfo.paymentmethod}}</div>
                    </div>
                    <div class="or_sh_name">
                        <div class="detail_msg_lft">配送方式</div>
                        <div class="detail_msg_rgt">{{orderitem.orderinfo.shipcompany}}</div>
                    </div>
                    <div class="detail_ms_name">
                        <div class="detail_msg_liuyan">买家留言</div>
                        <div class="liuyan_main">
                            {{orderitem.orderinfo.usernote}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript " src="../script/vue.js "></script>
<script type="text/javascript" src="../script/aui-tab.js"></script>
<script type="text/javascript " src="js/dl_order_detail.js "></script>
<script type="text/javascript">
</script>

</html>
