<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>商品列表</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-slide.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-pull-refresh.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/dl_productlist.css" />
</head>

<body>
    <!-- v-cloak -->
    <div id="app" v-cloak>
        <div class="aui-content top">
            <div id="top_menus">
                <div class="pdt_top">
                    <div class="pdt_sousuo">
                        <input type="search" v-on:click="open_search_bar()" placeholder="请输入商品名称" id="search-input">
                    </div>
                    <!-- <i class="icon iconfont icongouwuche3 " style="font-size:1.4rem;float:right; padding-top:8px;"></i> -->
                    <div class="cl">
                    </div>
                </div>
                <div class="aui-row">
                    <div class="aui-col-xs-4" v-for="item in sortorders" v-bind:class="{'active':item.is_active}" v-on:click=search_sort(item)>
                        <label>{{item.title}}</label>
                        <template v-if="item.index==3">
                            <img v-if="item.sort_by_price==1||!item.is_active" src="../image/icons/shengjiang.png" />
                            <img v-if="item.sort_by_price==2&&item.is_active" src="../image/icons/shengxu.png" />
                            <img v-if="item.sort_by_price==3&&item.is_active" src="../image/icons/jiangxu.png" />
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript " src="../script/api.js "></script>
<script type="text/javascript " src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/aui-slide.js"></script>
<script type="text/javascript" src="../script/aui-pull-refresh.js"></script>
<script type="text/javascript" src="../script/aui-scroll.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript " src="js/dl_productlist.js "></script>

</html>
