<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>通知公告</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-slide.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-pull-refresh.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/dl_tongzhigglist.css" />
</head>

<body>
  <!-- v-cloak -->
    <div id="app"  >
      <div class="aui-content">
          <ul class="aui-list aui-media-list" v-for="(item,index) in list" v-if="list.length>0">
                <li class="aui-list-item list-item-sty"    v-on:click="open_win(item)">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-inner pr">
                            <div class="aui-list-item-text">
                                <div class="aui-list-item-title">
                                    <!-- <div class="aui-label aui-label-primary">DD{{item.tag}}</div> -->
                                  {{item.title}}
                                </div>
                                <div class="new-msg">
                                  <span> {{item.IsRead}}</span>
                                </div>
                            </div>
                            <div class="sencond_line">
                                <!-- <span class="first_span">阅读量 {{item.readcount}} </span> -->
                                <span>{{item.time}}</span>
                            </div>
                            <div class=" third_line third_line_border">
                                  {{item.summary}}
                            </div>
                            <!-- v-on:click="open_tongzhi_detail(item)" -->
                            <div class="text-sty" >
                                <div class="xiangq" v-on:click="open_win(item)">
                                    查看详情
                                </div>
                                <i class="icon iconfont iconicon1" style="font-size:0.8rem; color:#bbb;"></i>
                            </div>
                        </div>
                    </div>
                </li>
          </ul>
      </div>
      <div id="noorder" v-if="list.length==0&&!is_searching" style="vertical-align: middle; text-align: center;margin-top:40%;">
          <i class="icon iconfont icon-dingdan" style="font-size:70px; color:#99C87D;"></i>
          <h5><br />暂无相关公告</h5>
      </div>
    </div>
</body>
<script type="text/javascript " src="../script/api.js "></script>
<script type="text/javascript " src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/aui-slide.js"></script>
<script type="text/javascript" src="../script/aui-pull-refresh.js"></script>
<script type="text/javascript" src="../script/aui-scroll.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript " src="js/dl_tongzhigglist.js "></script>
</html>
