<!DOCTYPE HTML>
<html>

<head>
    <title>资产编辑</title>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="./css/formlist.css" />
    <link rel="stylesheet" type="text/css" href="../css/comm.css" />
    <link rel="stylesheet" type="text/css" href="../css/szhlextend.css" />
</head>

<body>
    <div id="app">
        <ul class="aui-tab fixed-top" v-if="form.ID>0&&!canedit">
            <li class="aui-tab-item" v-on:click="do_select_tab(1)"><span v-bind:class="{'aui-active':tabtype==1}">资产信息</span></li>
            <li class="aui-tab-item" v-on:click="do_select_tab(2)"><span v-bind:class="{'aui-active':tabtype==2}">操作记录</span></li>
        </ul>
        <div v-if="!hideeditbtn&&tabtype==1" class="btnFloat" v-on:click="do_open_operation()">
            <i class="icon iconfont iconfont2 iconxiugai1"></i>
        </div>
        <div v-if="tabtype==1" class="aui-content " v-bind:class="{'pt35':form.ID>0&&!canedit}">
            <ul class="aui-list ">
                <li class="aui-list-header">使用信息</li>
                <li class="aui-list-item" v-bind:class="{'aui-list-item-arrow':form.ID<=0}">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label" v-bind:class="{'auto':form.ID>0}">
                            所属公司：
                        </div>
                        <div class="aui-list-item-input" v-bind:class="{'auto':form.ID>0}">
                            <input readonly="readonly" v-on:click="do_select_company()" type="text" v-if="form.ID<=0" v-model="form.DeptName" placeholder="请选择">
                            <span v-else>{{form.DeptName}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-bind:class="{'aui-list-item-arrow':form.ID<=0}">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label" v-bind:class="{'auto':form.ID>0}">
                            所属部门：
                        </div>
                        <div class="aui-list-item-input" v-bind:class="{'auto':form.ID>0}">
                            <input readonly="readonly" v-on:click="do_select_department()" type="text" v-if="form.ID<=0" v-model="form.DepartmentName" placeholder="请选择">
                            <span v-else>{{form.DepartmentName}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-bind:class="{'aui-list-item-arrow':form.ID<=0&&form.Shared==0}">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label" v-bind:class="{'auto':form.ID>0||form.Shared==1}">
                            使用人：
                        </div>
                        <div class="aui-list-item-input" v-bind:class="{'auto':form.ID>0||form.Shared==1}">
                            <input v-if="form.ID<=0&&form.Shared==0" readonly="readonly" v-on:click="do_select_userstaff()" type="text" v-model="form.UserRealName" placeholder="请选择">
                            <span v-if="form.ID>0&&form.Shared==0">{{form.UserRealName}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label" v-bind:class="{'auto':form.ID>0}">
                            是否公用：
                        </div>
                        <div class="aui-list-item-input" v-bind:class="{'auto':form.ID>0}">
                            <input v-if="form.ID<=0" v-on:click="do_select_status()" type="checkbox" class="aui-switch" v-bind:checked="form.Shared==1">
                            <span v-else>{{form.SharedDesc}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-bind:class="{'aui-list-item-arrow':form.ID<=0}">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label" v-bind:class="{'auto':form.ID>0}">
                            领用日期：
                        </div>
                        <div class="aui-list-item-input" v-bind:class="{'auto':form.ID>0}">
                            <input v-on:click="do_select_date()" type="text" v-if="form.ID<=0" readonly="readonly" v-model="form.RegistDateDesc" placeholder="请选择">
                            <span v-else>{{form.RegistDateDesc}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="aui-list mt10">
                <li class="aui-list-header">基本信息</li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label auto">
                            资产编码：
                        </div>
                        <div class="aui-list-item-input auto">
                            <input type="text" v-if="form.ID<=0" readonly="readonly" v-model="form.Code" placeholder="系统自动生成">
                            <span v-else>{{form.Code}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            <i class="red">*</i>资产名称：
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" v-if="canedit" v-model="form.Name" placeholder="请输入">
                            <span v-else>{{form.Name}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-bind:class="{'aui-list-item-arrow':canedit}">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label ">
                            <i class="red">*</i>资产分类：
                        </div>
                        <div class="aui-list-item-input">
                            <input v-on:click="do_select_type()" type="text" v-if="canedit" readonly="readonly" v-model="form.Title" placeholder="请选择">
                            <span v-else>{{form.Title}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label auto">
                            资产状态：
                        </div>
                        <div class="aui-list-item-input auto">
                            <span>{{form.StatusDesc}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label auto">
                            使用状态：
                        </div>
                        <div class="aui-list-item-input auto">
                            <span>{{form.RepairStatusDesc}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            <i class="red">*</i>品牌：
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" v-if="canedit" v-model="form.BrandName" placeholder="请输入">
                            <span v-else>{{form.BrandName}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            型号：
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" v-if="canedit" v-model="form.Version" placeholder="请输入">
                            <span v-else>{{form.Version}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-if="addmore&&form.ID<=0">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            <i class="red">*</i>数量：
                        </div>
                        <div class="aui-list-item-input">
                            <input type="number" v-if="canedit" v-model="form.Qty" placeholder="请输入">
                            <span v-else>{{form.Qty}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-bind:class="{'aui-list-item-arrow':canedit}">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            存放地点：
                        </div>
                        <div class="aui-list-item-input">
                            <input readonly="readonly" v-on:click="do_select_location()" type="text" v-if="canedit" v-model="form.LocTitle" placeholder="请选择">
                            <span v-else>{{form.LocTitle}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            标签：
                        </div>
                        <div class="aui-list-item-input ">
                            <input type="text" v-if="canedit" v-model="form.Tag" placeholder="请输入">
                            <span v-else>{{form.Tag}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            出厂编号：
                        </div>
                        <div class="aui-list-item-input ">
                            <input type="text" v-if="canedit" v-model="form.FactoryCode" placeholder="请输入">
                            <span v-else>{{form.FactoryCode}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            原值(元)：
                        </div>
                        <div class="aui-list-item-input ">
                            <input type="number" v-if="canedit" v-model="form.OrginalPrice" placeholder="请输入">
                            <span v-else>{{form.OrginalPrice}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            现值(元)：
                        </div>
                        <div class="aui-list-item-input ">
                            <input type="number" v-if="canedit" v-model="form.PresentPrice" placeholder="请输入">
                            <span v-else>{{form.PresentPrice}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            折旧年限：
                        </div>
                        <div class="aui-list-item-input ">
                            <input type="number" v-if="canedit" v-model="form.Depreciation" placeholder="请输入">
                            <span v-else>{{form.Depreciation}}</span>
                        </div>
                    </div>
                </li>
                <!--<li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            管理部门：
                        </div>
                        <div class="aui-list-item-input ">
                            <input type="text" v-if="canedit" v-model="form.Managezhiwu" placeholder="请输入">
                            <span v-else>{{form.Managezhiwu}}</span>
                        </div>
                    </div>
                </li>-->
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            备注:
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" v-if="canedit" placeholder="请输入" v-model="form.Comment" />
                            <span v-else>{{form.Comment}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="tabtype==2" class="aui-content pt25">
            <div class="card infinite-scroll infinite-scroll-bottom">
                <div class="card infinite-scroll infinite-scroll-bottom">
                    <div class="gridlist">
                        <div class="crm-wrap" v-for="item in loglist">
                            <div class="crm-head c666" v-html="covertdate(item.ActionDateDesc)"></div>
                            <div class="crm-dt">
                                <span class="crm-yuan"></span>
                                <div class="crm-dt-cont">
                                    <div class="m5">
                                        <div class="dt-title">{{item.UserRealName}} - 处理方式：{{item.Title}}</div>
                                        <div>[处理内容] - {{item.Content}}</div>
                                        <div>[备注] - {{item.Remarks}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="../script/api.js "></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js "></script>
<script type="text/javascript" src="../script/common.js "></script>
<script type="text/javascript" src="js/zcedit.js "></script>

</html>
