<!DOCTYPE HTML>
<html>

<head>
    <title>资产申请筛选</title>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="./css/formlist.css" />
    <link rel="stylesheet" type="text/css" href="../css/comm.css" />
    <link rel="stylesheet" type="text/css" href="./css/searchbar.css" />
</head>

<body>
    <div id="app">
        <div v-if="showbg" class="coverbg" v-on:click="do_close()">
        </div>
        <div class="rightContent">
            <header class="aui-bar aui-bar-nav header" id="aui-header">
                <a class="aui-btn aui-pull-left" tapmode v-on:click="do_close()">
                    <span class="aui-iconfont aui-icon-right"></span>
                </a>
                <div id="frametitle" class="aui-title">筛选</div>
            </header>
            <div class="aui-content">
                <ul class="aui-list">
                    <li class="aui-list-item aui-list-item-arrow">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                申请公司：
                            </div>
                            <div class="aui-list-item-input">
                                <input v-model="form.DeptName" v-on:click="do_select_company()" readonly="readonly" type="text" placeholder="请选择">
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item aui-list-item-arrow">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                申请部门：
                            </div>
                            <div class="aui-list-item-input">
                                <input v-model="form.UserGW" v-on:click="do_select_department()" readonly="readonly" type="text" placeholder="请选择">
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item aui-list-item-arrow">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                申请人：
                            </div>
                            <div class="aui-list-item-input">
                                <input v-model="form.UserRealName" v-on:click="do_select_userstaff()" readonly="readonly" type="text" placeholder="请选择">
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item aui-list-item-arrow">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                申请状态：
                            </div>
                            <div class="aui-list-item-input">
                                <input v-model="form.StatusDesc" v-on:click="do_select_status()" readonly="readonly" type="text" placeholder="请选择">
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item aui-list-item-arrow">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                是否公用：
                            </div>
                            <div class="aui-list-item-input">
                                <select v-model="form.IsPublic">
                                    <option value="0">全部</option>
                                    <option value="1">是</option>
                                    <option value="2">否</option>
                                </select>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <footer class="aui-bar aui-bar-tab" id="footer">
                <div class="aui-bar-tab-item" v-on:click="do_reset()">
                    <label class="aui-bar-tab-label"><i class="icon iconfont icongengxin"></i>重置</label>
                </div>
                <div class="aui-bar-tab-item" v-on:click="do_search()">
                    <label class="aui-bar-tab-label"><i class="icon iconfont iconjiandanyiyong"></i>确定</label>
                </div>
            </footer>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js "></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js "></script>
<script type="text/javascript" src="../script/common.js "></script>
<script type="text/javascript" src="js/zcsqsearchbar.js "></script>

</html>
