
.card-header, .card-footer {
    margin: 0;
    font-size: 0.65rem;
    border-bottom: 1px solid #F7F7F7;
    min-height: 0;
    padding: .5rem 0rem;
    margin: 0 .5rem;
}

.buttons-tab .button {
   
    border-bottom: 1px solid transparent;
    
}
.card-content {
    margin-top: .5rem;
}

.card-footer {
    min-height: 1.6rem;
    display: -webkit-box !important;
}
.card-item img{max-height: 100%;
    height: auto !important;
}
.cadename {
    font-size: .6rem;
    text-align: center;
    color: gray;
}

.card-footer a {
    font-size: .6rem;
    color: gray;
    padding: 0 10px;
    display: -webkit-inline-box;
    height: 1.6rem;
    line-height: 1.6rem;
}

    .card-footer a:hover {
        font-size: .6rem;
        color: gray;
        padding: 0 10px;
        display: -webkit-inline-box;
        height: 1.6rem;
        line-height: 1.6rem;
        background-color: #18b4ed;
    }

.list-block .item-content {
    padding-left: 0.55rem;
}

.list-block {
    font-size: 0.75rem;
}

.card .oneline {
    margin: 0;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.65rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    box-shadow: /*0 .05rem 0.05rem rgba(0,0,0,.1)*/ none !important;
    margin: .7rem 0.5rem;
}

.card-header p {
    margin: 0;
}

.item-title {
    -webkit-box-flex: 1;
}



.card-content-inner p,
.card-content-inner span,
.card-content-inner div {
    white-space: normal !important;
}

.card-content-inner table {
    width: 100% !important;
}

.card-content-inner img {
    height: auto !important;
    width: auto\9 !important;
    width: 100% !important;
}



.crm-dt {
    border-left: 1px solid #12b8f6;
    position: relative;
    margin-left: 1rem;
    padding:.3rem .5rem;
}

.crm-dt-cont {
    padding:5px;
    border: 1px solid #f3f3f3;
    position: relative;
    background-color: #f9f9f9;
}

.bg {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: -10px;
    top: 13px;
    z-index: 100;
}

.wt {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #dedede;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: -11px;
    top: 13px;
    z-index: 99;
}

.crm-dt .crm-yuan {
    width: 10px;
    height: 10px;
    background-color: #12b8f6;
    border-radius: 1000px;
    position: absolute;
    top: 30px;
    left: -5px;
}

.crm-dt-cont h3 {
    color: #666;
    font-weight: 100;
    font-size: .7rem;
}

.content {
    padding: 35px 0 0 0;
    margin: 0;
}

.card {
    padding: 0;
    margin: 0;
}

.card-content {
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
}

.card-header {
    padding: 1rem 10px;
    margin: 0 0 0 0;
    border-bottom: solid 1px #f0f0f0;
    font-size: 0.8rem;
    padding: 0.4rem 7px;
}

    .card-header span::before {
        content: "";
        border-left: solid 4px #12b8f6;
        width: 2px;
        margin-right: 8px;
    }

.card-content td {
    border-bottom: solid 1px #f0f0f0;
    font-size: 0.75rem;
    padding: 0.55rem;
    vertical-align: middle;
}

.card-content .title-item {
    line-height: 1rem;
    width: 30%;
    display: table-cell;
}

.card-content .con-item {
    line-height: 1rem;
    width: 70%;
    display: table-cell;
}

.c666 {
    color: #666 !important;
}

.c999 {
    color: #999 !important;
}

.gridlist {
    padding: 10px 0 0 0;
}

.crm-wrap {
    padding-left: 30px;
    position: relative;
}

    .crm-wrap .crm-head {
        position: absolute;
        left: 0;
        top: 6px;
        text-align: right;
        padding-left:8px;
    }

        .crm-wrap .crm-head .small {
            font-size: 0.5rem;
        }

        .crm-wrap .crm-head .medium {
            font-size: 0.55rem;
        }

.crm-dt-cont {
    font-size: 0.65rem;
}

    .crm-dt-cont .dt-title {
        color: #12b8f6;
        font-size: 0.7rem;
    }