body {
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[v-cloak] {
    display: none;
}

.aui-content {
    padding: 0 10px;
    background-color: #fff;
}

.aui-list .aui-list-item {
    padding-left: 0;
    background-size: 0px;
}

.aui-list .aui-list-item-inner {
    padding: 0;
    width: 100%;
}

.bbs_news {
    width: 50%;
    float: left;
}

.bbs_news .aui-list-item-title {
    margin-bottom: 0.8rem;
}

.bbs_news .aui-list-item-text {
    display: -webkit-box;
    font-size: 0.6rem;
}

.aui-chat .aui-chat-left .aui-chat-inner {
    max-width: 90%;
}

.aui-chat .chat_tag {
    color: #ffc107;
}

.aui-chat .aui-chat-left .aui-chat-content {
    padding: 0.3rem;
    max-width: 90%;
}

.aui-list .aui-list-item.btnsendmsg {
    text-align: center;
    border-top: solid 1px #ddd;
    padding: 10px 0;
}

.aui-chat {
    padding: 0.5rem 0;
}

.aui-label-warning {
    margin-right: 10px;
}
.chat_location label{
    font-size: 0.6rem;
    margin-left: 5px;
}
.chat_rate {
    text-align: right;
    color: #757575;
}

.chat_rate label {
    margin: 0 5px 0 15px;
    font-size: 0.6rem;
}

.chat_rate .iconfont {
    font-size: 0.6rem;
}

.iconfont.isactive {
    color: #333;
}
.aui-chat .aui-chat-inner.chat_content {
    margin: 0.5rem;
}
.aui-chat .aui-chat-inner.chat_title {
    height: 2rem;
    line-height: 2rem;
}
.aui-chat .aui-chat-item .aui-chat-media img{
    width: 2rem;
    height: 2rem;
}
.aui-list .aui-list-item.comment_bottom{
    margin-top: 0.5rem;
}
.chat_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 40px;
    z-index: 100;
}
table.chat_table{
    background-color: #fff;
    border-spacing: 0;
    width: 100%;
    border-top:solid 1px #ccc;
}
table.chat_table td {
    text-align: center;
    vertical-align: middle;
    min-height: 40px;
    padding: 0px;
}
table.chat_table td.first{
}
table.chat_table td.second{
    text-align: left;
    padding-left: 10px;
}
table.chat_table td.third{
    width: 2.5rem;
    text-align: right;
    color: #333;
    padding-right: 10px;
    font-weight: bold;
}
table.chat_table td.second textarea{
    vertical-align: middle;
    line-height: 40px;
}
.icon-xiaolian{
    color: #ffc107;
    font-size: 1rem;
}
.aui-content.comment{
    margin-top: 10px;
    margin-bottom: 4.2rem;
}
.aui-content.comment h3{
    margin: 10px 0;
}
.aui-chat .aui-chat-name .chat_time{
    position: absolute;
    top: 0;
    right: 10px;
    width: 5rem;
    text-align: right;
}
.shadow {
    background-color: #000;
    filter: alpha(Opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99
}
.lllt_name{
  color:#333;
  background: none;
}
.pl_nomol{
  background: none;
}
