[v-cloak] {
    display: none;
}

input[type="datetime-local"]:before {
    content: attr(placeholder);
    color: #ccc;
}

::-webkit-input-placeholder {
    color: #ccc;
}
.timediv{
  height: 80px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding-top:20px;
}
.timediv_title{
  text-align: center;
  height: 40px;
  line-height: 40px;
  color:#03a9f4;
  font-family:"微软雅黑";
}
.timedivbox{
  width: 150px;
  height: 30px;
  line-height: 30px;
  border:1px solid #FF0000;
  font-family: "微软雅黑";
  border-radius: 10px;
  float: left;
  background: #fff;
  margin-left: 10px;
  color:#333;
  text-align: center;
  letter-spacing: 2px;
}
.bottombtn {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

input.datetime_text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.aui-list .aui-list-item .aui-list-item-input.datetime_box {
    position: relative;
}

* {
    font-size: 0.7rem;
}

html,body {
    background: #f0f0f0;
}

.fangkesq{
  width: 100%;
  margin-bottom: 3.2rem;
}
.fksq_shuoming{
  margin: 10px 0px;
  background: #f9f9f9;
  border-radius: 8px;
  line-height: 1rem;
  padding: 10px 14px;
  color: #999;
  font-size: 0.65rem;
}
.fksq_shuoming span{
  color: #eb7825;
  font-size: 1rem;
  padding-right: 3px;
}
.fksq_main_title {
    line-height: 1rem;
    text-indent: 0px;
    text-shadow: 0px 0px 0px #999;
    /*font-weight: 600;*/
    color: #999;
    padding: 10px 14px 0px 14px;
    font-size: 0.75rem;
}
.dcwj_con2 {
    padding: 10px 14px;
    margin: 10px 0px;
    background: #fff;
    border-radius: 8px;
}
.dcwj_list {
    line-height: 1.1rem;
    /*border-bottom: 1px solid #eee;*/
    padding: 15px 0;
}
.btn_line{
	  	border: none;
      background-size: 100% 1px;
	  	background-repeat: no-repeat;
		  background-position: bottom;
      background-image: linear-gradient(0,#f0f0f0,#f0f0f0 50%,transparent 50%);
      background-image: -webkit-linear-gradient(90deg,#f0f0f0,#f0f0f0 50%,transparent 50%);
}
.bsbx_btm.top_line{
  border: none;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: top;
  background-image: linear-gradient(0,#f0f0f0,#f0f0f0 50%,transparent 50%);
  background-image: -webkit-linear-gradient(90deg,#f0f0f0,#f0f0f0 50%,transparent 50%);
}
.fl {
    float: left;
}
.aui-radio.input_radio{
  width: 1rem;
  height: 1rem;
}
.dcwj_right {
  padding-left: 10px;
  font-size: 0.75rem;
}
/*月数增减框*/
.aui-list .aui-list-item-input.aui-bar-list-input, .aui-bar-btn {
    width: 50%;
}
.aui-bar-btn, .aui-bar-btn-item, .aui-bar-btn .aui-input, .aui-bar-btn input, .aui-bar-btn select {
    height: 30px;
    line-height: 30px;
    min-height: 30px;
}

.aui-bar-btn-item {
    width: 30px;
}

.aui-bar-btn-item.inputbox {
    width: 40px;
    /*border-radius: 5px;*/
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #f0f0f0;
}

.aui-bar-btn-item .aui-iconfont {
    color: #999;
    /*font-weight: bold;*/
}

.aui-bar-btn-item:first-child {
    border-width: 0px;
    border:solid 1px #f0f0f0;
}

.aui-bar-btn-item:last-child {
    border-width: 0px;
    border:solid 1px #f0f0f0;
}
.aui-font-size-20 i{
  font-size: 14px;
  color: #333;
}
.aui-bar.aui-bar-btn{
  margin: 0px;
}






.aui-list .aui-list-item-label-icon {
    padding-right: 0;
}

.aui-list {
    background: none;
    /*padding: 10px;*/
}

.aui-list li.aui-list-item.liline {
    background: #fff;
    border-radius: 8px;
    padding: 0px;
    margin-bottom: 10px;
}

.cl {
    clear: both;
}


.aui-list-item-inner.item-inner-sty {
    width: 92%;
    margin: 0 auto;
}


.aui-list-item-label-icon.label-title-wid {
    font-size: 0.75rem;
    color: #333;
    min-width: 25%;
    max-width: 100%;
    /*background: #f00;*/
    float: left;
}

.aui-list .aui-list-item-input {
    padding-right: 0px!important;
}

.aui-list-item-input select, .aui-list-item-input input {
    color: #000;
    width: 90%;
    float: right;
    text-align: right;
    font-size: 0.75rem;
    padding-left: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*padding-right: 0px;*/
    /*background: #ff0;*/
}

.aui-list-item-input textarea {
    color: #000;
    width: 100%;
    height: 5rem;
    line-height: 1.2rem;
    font-size: 0.75rem;
    margin: 0 auto;
    margin-bottom: 10px;
}

.aui-list-item-label-icon.label-title-wid.flo {
    width: 100%!important;
    float: none;
}

.li-margbtn {
    margin-bottom: 0px!important;
}

.item-height {
    height: 2.5rem;
    line-height: 2.5rem;
}

.aui-list.aui-form-list .aui-list-item-inner.item-inner-radio {
    display: block;
}

.aui-list-item-inner.item-inner-radio label {
    line-height: 2.2rem;
    display: inline-block;
    width: 25%;
    margin-right: 10%;
}

.aui-list-item-inner.item-inner-radio label .aui-radio {
  margin-top: 0.5rem;
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
}
.bsbx_btm{
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: 0px;
  background: #fff;
  overflow: hidden;
}
.bsbx_add{
  width: 92%;
  margin: 0 auto;
  height: 2rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  border-radius: 50rem;
  text-align: center;
  background: #eb7825;
  color: #fff;
  font-size: 0.7rem;
  text-shadow: 0px 0px 0px #fff;
  overflow: hidden;
}
