html,body{
  background-color: #f0f0f0;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

[v-cloak] {
    display: none;
}

.left_menu {
    /*border-right: solid 1px #F0F0F0;*/
    background: #f0f0f0;
}

.left_menu .menu_item {
    text-align: center;
    font-size: 0.7rem;
    color: #888;
}

.left_menu .menu_active_item.menu_active {
    color: #ea7825;
    background-color: #f9f9f9;
    border-top: solid 2px #ea7825;
    text-shadow: 0.5px 0px 0px #ea7825;
}

.left_menu .menu_active_item {
    font-size: 0.75rem;
    line-height: 3rem;
    color: #333;
    text-shadow: 0.5px 0px 0px #333;
}

.main_content {
    /*padding-bottom: 20rem;*/
    margin-bottom: 10px;
    background: #ffffff;
}

.pl10 {
    padding: 0px 10px;
}

.bor_none {
    background-size: 100% 0px;
}

.aui-list .aui-list-header {
    background-color: #fff;
    text-align: center;
    display: block;
    font-size: 0.7rem;
}

.menu_item img {
    width: 1.8rem;
    margin: 0 auto;
    margin-bottom: 5px;
}

.aui-col-xs-4 {
    font-size: 0.6rem;
    text-align: center;
}

.service_icon_box {
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
    margin-bottom: 5px;
}

.menu_fl {
    margin: 10px 0px;
}

.main_con_menu {
    font-size: 0.6rem;
    height: 1.5rem;
    color: #333;
    line-height: 1.5rem;
    text-shadow: 0.5px 0px 0px #333;
    padding: 8px 0 0 10px;
}

.service_icon_box img {
    width: 100%;
    height: 100%;
    border-radius: 0%;
}

.service_icon {
    background: #F7F7F7;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: table-cell;
    vertical-align: middle;
}

.service_icon .iconfont {
    font-size: 1.2rem;
    color: #FFA042;
}

.fixed_menu {
    position: fixed;
    top: 0;
    left: 25%;
    right: 0;
    text-align: center;
    font-size: 0.7rem;
    padding: 0.4rem 0;
    color: #212121;
    z-index: 999;
    background-color: #fff;
}

.aui-row .aui-col-xs-4:active {
    background-color: #f5f5f5;
}

.aui-popup-content, .aui-popup {
    min-height: 0px;
}

.left_menu .sub_menu_item {
    text-align: center;
    font-size: 0.65rem;
    color: #888;
}

.left_menu .sub_menu_item .sub_menu_active_item {
  background: #f9f9f9;
    line-height: 2rem;
}

.left_menu .sub_menu_active_item.menu_active {
    color: #ea7825;
    background-color: #fff;
    /*border-left: solid 2px #ea7825;*/
}
