html,body {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}
[v-cloak] {
  display: none;
}
.grid_geren{
  /*border-radius: 6px;*/
  margin: 1px 14px 14px 14px;
}
.geren_msg{
  margin: 0px 20px;
  padding: 20px 0px;
  overflow: hidden;
}
.geren_cen{
  width: 85%;
  float: left;
  overflow: hidden;
}
.geren_tx{
  width: 3.5rem;
  float: left;
  overflow: hidden;
}
.geren_tx img{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.geren_item{
  padding-top: 10px;
  padding-left: 4rem;
}
.geren_myname{
  font-size: 1rem;
  text-shadow: 0px 0px 0px #333;
}
.geren_myphnum{
  font-size: 0.7rem;
  color: #999;
}
.geren_edit{
  padding-top: 10px;
  text-align: right;
  font-size: 0.6rem;
  color: #999;
}
.login_bg {
    position: relative;
    height: 4rem;
    width: 100%;
    text-align: center;
    background-color:#ea7825;
}
.row_zh{
  /*margin-bottom: 10px;*/
}
.aui-list-item-label-icon.gr_icon{
  width: 2rem;
}
.login_bg img{
    width: 100%;
    height: 100%;
}
.login_bg .aui-list.aui-list-noborder{
    position: absolute;
    top: 50%;
    height: 5rem;
    margin-top: -2.5rem;
    left: 0;
    right: 0;
    margin-bottom: 0;
    color:#fff;
}
.not_login_box{
    position: absolute;
    top: 50%;
    height: 24px;
    line-height: 24px;
    margin-top: -12px;
    left: 0;
    right: 0;
    margin-bottom: 0;
    color:#fff;
}
.login_bg label {
    color: #fff;
}
.bshadow{
  box-shadow: 0px 0px 5px #eee;
}
.aui-list .aui-list-item-inner {
    font-size: 0.75rem;
}
.aui-list.bor_line{
  margin: 0 14px;
  padding: 10px 0px;
  background-position: bottom;
  background-image: linear-gradient(0,#f5f5f5,#f5f5f5 50%,transparent 50%);
}
.gr_line{
  border: none;
      background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
      background-image: linear-gradient(0,#f5f5f5,#f5f5f5 50%,transparent 50%);
      background-image: -webkit-linear-gradient(90deg,#f5f5f5,#f5f5f5 50%,transparent 50%);
}
.aui-grid .aui-col-xs-3 {
    margin: 0.4rem 0;
    padding: 0;
    border-right: solid 1px #F0F0F0;
}
.dd_zhuangtai{
  width: 78%;
  float: left;
  /*background: #eee;*/
}
.dd_zt_main{
  margin: 10px 0px;
  /*padding-right: 10px;*/
  /*border-right: solid 1px #f0f0f0;*/

}
.aui-col-xs-3.dd_zt_item{
  border:none;
}
.dd_zt_item{
  text-align: center;
}
.dd_zt_item img{
  width: 1.4rem;
  margin: 0 auto;
  /*padding-bottom: 0.2rem;*/
}
.qq_zt_title{
  font-size: 0.6rem;
  line-height: 1rem;
}
.mtb4 img{
  padding-top: 0.4rem;
}
.dd-order{
  margin: 10px 0px;
  width: 22%;
    float: right;
}
.aui-grid .aui-grid-label {
    margin-top: 0.1rem;
    font-size: 0.6rem;
}
.grid_geren_main{
  border-radius: 6px;
  background: #fff;
}
.gr_menu{
  border-radius: 6px;
  background: #fff;
  margin: 14px 0px 0px 0px;
}
.aui-list.aui-list-in .aui-list-item.gr_menu_item{
  height: 2.8rem;
  line-height: 2.8rem;
  background-size: 100% 0px;
  padding-left: 0px;
}
.aui-grid,.aui-list {
    margin-bottom: 10px;
}
.aui-bg-info{
    background-color:transparent !important;
}
.aui-bg-info.aui-list .aui-list-item-text{
    color:#fff;
}
.aui-list .aui-list-item:active {
    background-color: transparent;
}
.aui-list .aui-list-item-media{
    height: 4.5rem;
    width: 4.5rem;
}
.aui-list span.my_edit {
    position: absolute;
    top: 50%;
    right: 0rem;
    margin-top: -1.2rem;
    z-index: 2;
    color: #fff;
}
.gouwuche{
  position: relative;
}
.gouwuche .aui-badge{
  position: absolute;
  top: 10px;
  right: -15px;
  margin-left: 0px;
  left: auto;
}
