body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
[v-cloak] {
  display: none;
}
.login_title{
  font-size: 1.2rem;
  color: #333;
  margin: 2rem 0rem 0rem 0.75rem;
  overflow: hidden;
}
.aui-list.aui-form-list{
  border-top: 1px solid #fff;
  background-size: 100% 0px;
}
.aui-list.aui-form-list .aui-list-item{
  line-height: 3rem;
  height: 3rem;
  margin-top: 8px;
}
.login_bg {
    position: relative;
    height: 8rem;
    width: 100%;
    text-align: center;
    background-color:#9BDBD7;
}
.login_bg img{
    width: 100%;
    height: 100%;
}
.aui-btn{
	color: #fff;
	background-color: #ccc;
	width: 90%;
	margin: 0 auto;
}
.login_left{
	margin-top: 20px;
	width: 45%;
  font-size: 0.7rem;
	float: left;
	margin-left: 5%;
}
.login_right{
	margin-top: 20px;
	width: 45%;
  font-size: 0.7rem;
	float: right;
	text-align: right;
	margin-right: 5%;
}
.wxlogin{
	clear: both;
	margin-top: 8rem;
	width: 100%;
	text-align: center;
}
.wxlogin label{
	border:solid 1px #ccc;
	padding: 3px 10px;
	border-radius: 20px;
	font-size: 0.7rem;
	margin: 0 5px;
}
.aui-btn-block{
	background:linear-gradient(to right bottom,#ff9a16,#eb4a25);
	margin-top: 1.8rem;
  border-radius: 50rem;
  font-size: 0.75rem;
  height: 2.2rem;
  line-height: 2.2rem;
}
