.aui-content{
  padding: 10px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-family: "微软雅黑";
  margin:10px 0;
  text-align: center;
}
.code_img {
  width:100%;
  margin:20px 0;
}
.code_img img{
  width: 100%;
  max-width:200px;
  margin:0 auto;
}
.share{
  width:320px;
  margin: 30px auto;
}
.share_weixin{
  width:100%;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background: #00BD0B url(../../image/icons/icon_weixin.png) no-repeat 5% center;
  background-size: 20px;
  text-indent: 35px;
  color:#fff;
  margin-right: 20px;
  text-align: center;
}
.share_qq{
  margin-top: 30px;
  width:100%;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background: #2B84D4 url(../../image/icons/icon_qq.png) no-repeat 5% center;
  background-size: 20px;
  text-indent: 35px;
  color:#fff;
  text-align: center;
}
.share_save{
  width:100%;
  height: 40px;
  line-height: 40px;
  background: #2B84D4;
  color:#fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
