html,body {
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.bt_line{

  border: none;
      background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
      background-image: linear-gradient(0,#f0f0f0,#f0f0f0 50%,transparent 50%);
      background-image: -webkit-linear-gradient(90deg,#f0f0f0,#f0f0f0 50%,transparent 50%);
}
.product_btn.tp_line{
  border: none;
      background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: top;
      background-image: linear-gradient(0,#f0f0f0,#f0f0f0 50%,transparent 50%);
      background-image: -webkit-linear-gradient(90deg,#f0f0f0,#f0f0f0 50%,transparent 50%);
}
/*[v-cloak] {
    display: none;
}*/
/*productmsg*/
.promsg_pic{
  width: 100%;
  height: 18rem;
  overflow: hidden;
  /*background: #f00*/
  /*position: relative;*/
}
.promsg_main{
  width: 100%;
  /*position: absolute;
  top:8rem;*/
  background: #fff;
}
.promsg_main_msg{
  padding: 16px 14px 14px 14px;
  border-bottom: solid 10px #f0f0f0;
}
.promsg_main_price{
  line-height: 1.6rem;
  font-size: 0.7rem;
  /*font-weight: 600;*/
  text-shadow: 0px 0px 0px #eb7825;
  color: #eb7825;
}
.promsg_main_price span{
  font-size: 1.4rem;
}
.promsg_main_adrmsg{
  color: #333;
  font-size: 0.8rem;
  text-shadow: 0px 0px 0px #333;
  line-height: 1.1rem;
  padding-bottom: 5px;

}
.promsg_main_address{
  padding: 15px 0px;
  font-size: 0.65rem;
  color: #333;
}
.promsg_main_address span{
  float: right;
  text-align: right;

}
.promsg_main_comtent{
  padding: 15px 0px 0px 0px;
  font-size: 0.6rem;
}
.comtent_peisong{
  color: #999;
  font-size: 0.65rem;
  line-height: 1rem;
  overflow: hidden;
}
.comtent_msg_name{
  width: 20%;
  float: left;
  /*padding-right: 8px;*/
  /*color: #999;
  line-height: 1rem;*/
}
.comtent_msg{
  width: 80%;
  color: #333;
  float: right;
}
/*商品规格*/
.protyp_main{
  padding: 15px 14px;
  font-size: 0.65rem;
  border-bottom: solid 10px #f0f0f0;
  overflow: hidden;
}

.protyp_style{
  color: #999;
  width: 20%;
  float: left;
}

.protyp_style_msg{
  width: 70%;
  float: left;
}
.pro_shop{
  padding: 15px 14px;
  border-bottom: solid 10px #f0f0f0;
  overflow: hidden;
}
.pro_shop_main{
  padding-bottom: 15px;
  /*border-bottom: solid 1px #eee;*/
  overflow: hidden;
}

.pro_shop_logo{
  width: 2rem;
  height: 2rem;
  background-color: #ff0000;
  border-radius: 50px;
  float: left;
}
.pro_shop_title{
  width: 65%;
  float: left;
  font-size: 0.8rem;
  /*text-shadow: 0px 0px 0px #333;*/
  color: #333;
  height: 2rem;
  line-height: 2rem;
  padding-left: 15px;
}
.protyp_shop_enter{
  width: 3rem;
  background-color: #eb7825;
  color: #fff;
  float: right;
  height: 1.1rem;
  line-height: 1.1rem;
  text-align: center;
  margin-top: 10px;
  font-size: 0.5rem;
  border-radius: 5px;
}
/*评价*/
.pingjia{
  margin: 25px 0px 10px 0px;
}
.pj_top{
  height: 0.8rem;
  line-height: 0.8rem;
  border-left: solid 4px #eb7825;
  font-size: 0.65rem;
  color: #999;

}
.pj_top span{
  font-size: 0.8rem;
  padding-left: 8px;
  padding-right: 8px;
  color: #333;
  text-shadow: 0px 0px 0px #333;
}
.pj_item{
  padding: 15px 0px;
}
.pj_item_self{
  padding: 5px 0px;
  overflow: hidden;
}
.self_touxiang{
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50rem;
  float: left;
}
.self_touxiang img{
  border-radius: 50rem;
}
.self_msg{
  width: 87%;
  float: right;
  /*background: #f00;*/
}
.self_name_time{
  height: 1rem;
  line-height: 1rem;
}
.self_name{
  width: 60%;
  float: left;
  font-size: 0.7rem;
  color: #333;
}
.self_time{
  width: 20%;
  float: right;
  text-align: right;
  font-size: 0.6rem;
  color: #999;
}
.self_dengji{
  line-height: 0.6rem;
}
.pj_item_msg{
  padding-top: 6px;
  font-size: 0.65rem;
  line-height: 1rem;
}
.aui-col-xs-3 .aui-col-pjpic{
  border-radius: 6px;
  overflow: hidden;
}
.aui-col-xs-3.aui-col-pjpic img{
  border-radius: 6px;
  padding: 2px;
  width: 100%;
  height: 100%;
}
.pj_item_msg_type{
  padding-top: 10px;
  font-size: 0.55rem;
  color: #999;
}
.pingjia_more{
  width: 40%;
  background: #f0f0f0;
  color: #999;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
  border-radius: 6px;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.6rem;
}
.product_main{
  margin: 25px 14px 60px 14px;
}
.product_main_msg{
  padding: 15px 0px 15px 0px;
}
.product_main_msg img{
  padding-top: 10px;
}
.product_btn{
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: 0px;
  background: #fff;
  overflow: hidden;
}
/*底部*/
.po-btn-main{
  padding: 0px 14px;
	}
.shangjia,.pro_gwc{
		 width:13%;
     padding-top: 5px;
		 text-align: center;
		 float: left;
		 /* background-color: #F5F5F5; */
	}
.shangjia i,.pro_gwc i{
  font-size: 1.2rem;
  color: #333;

		 /*padding-top: 14px;*/
	}
.sy-txt,.tlk-txt{
		 line-height: 0.5rem;
		 font-size: 0.5rem;
     color: #333;
	}
.call{
		 width: 35%;
		 border-radius: 50px;
     background:linear-gradient(to right bottom,#ffd234,#ff9a16);
		 height: 1.9rem;
		 line-height: 1.9rem;
		 margin-top: 12px;
		 margin-left: 10px;
		 float: left;
		 text-align: center;
		 font-size: 0.7rem;
     text-shadow: 0px 0px 0px #fff;
		 color: #FFFFFF;
	}
.call image ,.send image{
		  width: 44rpx;
		  height: 44rpx;
		  padding-right: 10rpx;
		  position: relative;
		  top: 10rpx;
	 }
.send{
		 width: 34%;
		 border-radius: 50px;
		 /*background-color: #007AFF;*/
     background:linear-gradient(to right bottom,#ff9a16,#eb4a25);
		 height: 1.9rem;
		 line-height: 1.9rem;
		 margin-top: 12px;
		 /* margin-left: 20rpx; */
		 float: right;
		 text-align: center;
     font-size: 0.7rem;
     text-shadow: 0px 0px 0px #fff;
		 color: #FFFFFF;
	 }















.phone_pic{
  float: right;
  height: 1.1rem;
  text-align: right;
  border-left: solid 1px #f5f5f5;
  overflow: hidden;
}
.phone_pic i{
  margin-left: 1.5rem;
}
.sp_main_product{
  padding: 14px 0px 20px 0px;
}
.sp_main_protitle{
  padding: 0px 14px;
  line-height: 1.5rem;
  font-size: 0.7rem;
  color: #000;
  text-shadow: 0px 0px 0px #000;
}
.pad_lr{
  padding: 0px 10px;
  margin-top: 10px;
}
.xs_pad_lr{
  padding: 0px 6px;
  text-align: center;
  font-size: 0.6rem;

}
.xs_pad_lr img{
  width: 100%;
  border-radius: 6px;
  margin-bottom: 8px;
}
/*shop*/
.aui-content {
    padding: 0px;
    background-color: #fff;
}

.aui-content.content {

}
.aui-refresh-content{
    margin-top: 2.2rem;
}
.aui-content.top{
    z-index: 999;
    top: 0;
    right: 0px;
    left: 0px;
    background-color: #fff;
    position: fixed;
    padding: 0 10px;
    padding-bottom: 0px;
}
.top_menus_box{
    height: 2.2rem;
    line-height: 2.2rem;
}
.aui-media-list .aui-list-item {
    padding: 0 10px;
}

.aui-list .aui-list-item-media {
    padding-right: 0px;
    height: 6rem;
}

.aui-list .aui-list-item-media img {
    max-height: 5rem;
}

.aui-list .aui-list-item-inner {
    padding-left: 10px;
}

.aui-list .aui-list-item-title {
    font-size: 0.8rem;
    margin-bottom: 1.3rem;
}

.aui-list .item_price {
    font-size: 0.8rem;
    color: red;
    margin-right: 1rem;
}

.aui-list .item_sale {
    font-size: 0.6rem;
    color: #757575;
}

.item_bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 0;
}

.item_buy {
    position: absolute;
    bottom: 1.5rem;
    right: 10px;
    width: 2rem;
    text-align: right;
}

.item_buy .iconfont {
    color: red;
    font-size: 1.5rem;
}

/*.aui-row .aui-col-xs-4 {
    text-align: center;
    width: 25%;
}*/

.aui-row .aui-col-xs-4 label {
    font-size: 0.7rem;
}

/*.aui-row .aui-col-xs-4 img {
    width: 0.8rem;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -30px;
    margin-top: -7px;
}*/

.aui-row .aui-col-xs-4.active label {
    color: #ffc107;
}

.aui-row .aui-col-xs-8 {
    margin-left: 10px;
    text-align: left;
    font-size: 0.7rem;
}

.aui-row .aui-col-xs-4.image {
}

.aui-row .aui-col-xs-4.image img {
    margin: 0 auto;
    width: 100%;
}

.aui-content.header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 999;
}

.aui-content.top {

}
.buy_box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9990;
}
.product_title {
    font-size: 1rem;
    padding: 10px 0;
}
.product_realprice {
    font-size: 1rem;
    color: #ff0000;
    margin-right: 10px;
    line-height: 1rem;
}
.product_cost {
    text-decoration: line-through;
    color: #808080;
    line-height: 1rem;
    font-size: 0.7rem;
}
.buy_box .shadow {
    background-color:#000;
    filter: alpha(Opacity=20);
    -moz-opacity: 0.2;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index:9991
}

.buy_box .buy_content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 30%;
    background-color: #fff;
    z-index:9992
}
.buy_content .buy_content_img{
    position: absolute;
    top: -20px;
    left: 10px;
    width: 100px;
    height: 100px;
    background-color: #fff;
}
.buy_content .buy_content_right{
    position: absolute;
    top: 0px;
    left: 120px;
    right: 10px;
}
.buy_content .buy_content_center{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 2.3rem;
    border-top:solid 1px #ddd;
    padding-bottom: 2rem;
    overflow-y: auto;
}
.buy_content_variant{
    padding: 10px 10px 30px 10px;
}
.buy_content_variant .variant_title{
    line-height: 30px;
    font-size: 0.7rem;
}
.buy_content_variant .variant_name label{
    border: solid 1px #212121;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 0.7rem;
    margin-right: .5rem;
    margin-top: .5rem;
}
.buy_content_variant .variant_name label.active{
    border: solid 1px #ffc107;
    color:#ffc107;
}
.buy_content_quantity{
    padding: 0px 10px 0px 10px;
}
.buy_content_quantity .quantity_title{
    line-height: 30px;
    font-size: 0.7rem;
}
.aui-bar-btn{
    min-height: 1rem;
    width: 50%;
    float: left;
}
.aui-bar-btn-item{
    line-height: 1.2rem;
    border: solid 1px #212121;
    background-color: #fff;
    color: #212121;
}
.aui-bar-btn-item:first-child{
    border-right: 0px;
}
.aui-bar-btn .aui-input, .aui-bar-btn input{
    height: 1.2rem;
    font-size: 0.6rem;
}
.aui-bar-btn-item .iconfont{
    color:#212121;
    font-size:0.6rem;
}
.shoppingcart,
.buynow,.confirmbuy {
    background-color: #ffc107;
    color: #fff;
}

.shoppingcart .aui-bar-tab-label,
.buynow .aui-bar-tab-label,.confirmbuy .aui-bar-tab-label {
    font-size: 0.8rem;
}

.aui-bar-tab .aui-bar-tab-item.shoppingcart {
    border-right: solid 1px #fff;
}
.buy_content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.3rem;
}
.product_totalcount{
    position: absolute;
    top: 0;
    right: 30%;
    color:#fff;
    width: 0.8rem;
    height: 0.8rem;
    background: red;
    border-radius: 50%;
    line-height: 0.8rem;
    font-size: 0.6rem;
}
.aui-media-list .aui_list_item_footer{
    height: 5px;
    background-color: #dddddd;
}
.coupon_list{
    padding-bottom: 5px;
}
.coupon_list .coupon_title{
    font-size: 0.7rem;
    padding: 0.5rem 10px 5px 10px;
    width: 100%;
}
.coupon_list label{
    font-size: 0.6rem;
    padding: 0 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
    line-height: 1.5rem;
}
.icongouwuche3{
  position: relative;
}
.icongouwuche3 .aui-badge{
  position: absolute;
  top: -5px;
  margin-left: 0px;
}
