html,body {
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#app,
.aui-refresh-content {
    height: 100%;
    background: #f0f0f0;
}

[v-cloak] {
    display: none;
}

.aui-list {
    /*margin: 0.5rem;*/
    width: 92%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.aui-list-item-text {
    /*background: #eee;*/
    margin-bottom: 2px;
}

.aui-list .aui-list-item-title {
    /*background: #eee;*/
    color: #000;
    font-size: 0.75rem;
    margin-bottom: 0px;
}

.new-msg {
    width: 18%;
    float: right;
    /*background: #ff0;*/
}

.new-msg span {
    padding: 0px 7px 0px 7px;
    float: right;
    font-size: 0.55rem;
    border-radius: 20px;
    background: #f00;
    color: #fff;
    /*margin-top: 0px;*/
}

.new-msg.isread span {
    background: #ddd;
}

.sencond_line span {
    font-size: 0.6rem;
    line-height: 0.4rem;
    color: #999;
}

.aui-list .aui-list-item-title .aui-label {
    margin-right: 1rem;
    vertical-align: top;
}

.aui-list .sencond_line {
    color: #757575;
    font-size: 0.7rem;
    /*line-height: 1.5rem;*/
}

.aui-list .sencond_line .first_span {
    margin-right: 1rem;
}

.aui-list .third_line {
    /*background: #f00;*/
    font-size: 0.7rem;
    padding-top: 0.6rem;
    padding-bottom: 16px;
    line-height: 0.9rem;
    /*padding: 1rem 0.5rem;*/
}

.aui-list .aui-list-item.list-item-sty {
    background: #fff;
    border-radius: 8px;
    padding: 0px 14px;
    margin-top: 10px;
}

.aui-media-list .aui-list-item-inner.pr {
    padding-right: 0px;
    padding-top: 12px;
}

.aui-list .third_line.third_line_border {
    border: none;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: linear-gradient(0, #f0f0f0, #f0f0f0 50%, transparent 50%);
    background-image: -webkit-linear-gradient(90deg, #f0f0f0, #f0f0f0 50%, transparent 50%);
}

.text-sty {
    padding-right: 0px!important;
    padding-bottom: 0px!important;
    /*background: #ddd;*/
}

.text-sty .xiangq {
    width: 80%;
    float: left;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.7rem;
    /*background: #eee;*/
    margin-top: 8px;
    color: #333;
}

.text-sty i {
    width: 15%;
    float: right;
    text-align: right;
    padding-top: 6px;
}
