
html,body {
    background: #f0f0f0;
}

.dcwj {
    margin-bottom: 3rem;
}

.aui-list .aui-list-header {
    font-size: 0.8rem;
}
.aui-radio.input_radio{
  width: 1rem;
  height: 1rem;
}
.bottombtn {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dcwj_list {
    line-height: 1.1rem;
    /*border-bottom: 1px solid #eee;*/
    padding: 15px 0;
}
.btn_line{
	  	border: none;
      background-size: 100% 1px;
	  	background-repeat: no-repeat;
		  background-position: bottom;
      background-image: linear-gradient(0,#f0f0f0,#f0f0f0 50%,transparent 50%);
      background-image: -webkit-linear-gradient(90deg,#f0f0f0,#f0f0f0 50%,transparent 50%);
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cl {
    clear: both;
}

.dcwj_title {
    line-height: 30px;
    text-indent: 0px;
    padding: 15px 14px 0px 14px;
    font-size: 0.75rem;
}

.dcwj_con2 {
    padding: 10px 14px;
    margin: 10px 14px;
    background: #fff;
    border-radius: 8px;
}

.dcwj_right {
  padding-left: 10px;
  font-size: 0.75rem;
}
.bsbx_btm{
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: 0px;
  background: #fff;
  overflow: hidden;
}
.bsbx_add{
  width: 92%;
  margin: 0 auto;
  height: 2rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  border-radius: 50rem;
  text-align: center;
  background: #eb7825;
  color: #fff;
  font-size: 0.7rem;
  text-shadow: 0px 0px 0px #fff;
  overflow: hidden;
}
.top_line{
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: top;
  background-image: linear-gradient(0,#f0f0f0,#f0f0f0 50%,transparent 50%);
  background-image: -webkit-linear-gradient(90deg,#f0f0f0,#f0f0f0 50%,transparent 50%);
}
