body {
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#app, .aui-refresh-content {
    height: auto;
}

#main_refresh {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
}

[v-cloak] {
    display: none;
}

.aui-list {
    width: 96%;
    border-radius: 3px;
    padding: 3px 5px 10px 5px;
    margin: 4px 2% 7px 2%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    background: #fff;
}
    .aui-list .list-item {
        font-size: 0.75rem;
        line-height: 1rem;
        padding: 5px 7px 0 7px;
        color: #666;
    }

.aui-list .list-header {
    background: #fff;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 5px 7px;
}

    .aui-list .list-header .type {
        padding: 1px 5px 0px 5px;
        border-radius: 2px;
        color: #fff;
        margin-right: 4px;
        font-size: 86%;
        background: #f46e78;
    }

    .aui-list .list-header .gonggao {
        background: #74b4e1;
    }

.aui-list .list-header .date {
    float: right;
    font-size: 0.65rem;
    color: #ccc;
    margin-top:-5px;
}

.aui-tab .aui-tab-item {
    height: 35px;
    line-height: 32px;
}

.aui-list.list-unread:after {
    content: "\672a\67e5\770b";
    font-size: 0.45rem;
    color: #e2788f;
    border: solid 1px #e2788f;
    padding: 2px 3px 1px 3px;
    font-weight: bold;
    position: absolute;
    right: -1px;
    bottom: 3px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg); /*¼æÈÝ-webkit-ÒýÇæä¯ÀÀÆ÷*/
    -moz-transform: rotate(-30deg); /*¼æÈÝ-moz-ÒýÇæä¯ÀÀÆ÷*/
}

.aui-list.list-read:after {
    content: "\5df2\67e5\770b";
    font-size: 0.45rem;
    color: #ccc;
    border: solid 1px #e1e1e1;
    padding: 2px 3px 1px 3px;
    font-weight: bold;
    position: absolute;
    right: -1px;
    bottom: 3px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg); /*¼æÈÝ-webkit-ÒýÇæä¯ÀÀÆ÷*/
    -moz-transform: rotate(-30deg); /*¼æÈÝ-moz-ÒýÇæä¯ÀÀÆ÷*/
}

