.search-cancel {
    text-align: right;
    height: 1.5rem;
    line-height: 1.5rem;
    position: fixed;
    bottom: 5px;
    right: 3px;
    color: #33c9e4;
    padding:0 10px 0 10px;
    background:#eee;
    border-radius:12px;
}
    .search-cancel:before {
        font-family: "iconfont" !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e617";
        width: 0.75rem;
        height: 0.8rem;
        font-size: 0.6rem;
        margin-right: 3px;
    }
    .search-cancel label {
        font-size: 0.75rem;
    }
