<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>用户评价</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-slide.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-pull-refresh.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/dl_bsbxpingjia.css" />
</head>

<body>
    <!-- v-cloak -->
    <div id="app" v-cloak>
      <div class="bsbx_pingjia">
        <div class="bsbx_pingjia_main">
          <div class="bsbx_pj_title">
            满意度
          </div>
          <div class="self_dengji">
              <i  v-for="(item,index) in ratelist" v-on:click="do_rate(item)" v-bind:style="{'color':index<form.RateCount?'red':'grey'}"  class="icon iconfont iconiconfontxingxing" style="font-size:1rem;padding-right:5px;"></i>
          </div>
          <!-- <div class="bsbx_pj_center">
            <div class="bsbx_pj_item" style="width:33%;">
              <input type="checkbox" class="aui-radio fl" style="width:1rem; height:1rem; margin-top:5px;">
              非常满意
            </div>
            <div class="bsbx_pj_item">
              <input type="checkbox" class="aui-radio fl" style="width:1rem; height:1rem; margin-top:5px;">
              满意
            </div>
            <div class="bsbx_pj_item">
              <input type="checkbox" class="aui-radio fl" style="width:1rem; height:1rem; margin-top:5px;">
              一般
            </div>
            <div class="bsbx_pj_item">
              <input type="checkbox" class="aui-radio fl" style="width:1rem; height:1rem; margin-top:5px;">
              较差
            </div>

          </div> -->
          <div class="pj_yijian">
            <textarea name="name" v-model="form.Content" placeholder="请填写评论信息"></textarea>
          </div>
        </div>

      </div>

      <div class="bsbx_btm top_line" >
        <div class="pj_add pj_quxiao" v-on:click="do_close()">取消</div>
          <div class="pj_add pj_sure" v-on:click="do_save()">确定</div>
      </div>

    </div>
</body>
<script type="text/javascript " src="../script/api.js "></script>
<script type="text/javascript " src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/aui-slide.js"></script>
<script type="text/javascript" src="../script/aui-pull-refresh.js"></script>
<script type="text/javascript" src="../script/aui-scroll.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript " src="js/dl_bsbxpingjia.js "></script>

</html>
