<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>商品详情</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-slide.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-pull-refresh.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/dl_product_frm.css" />
</head>

<body>
    <!-- v-cloak -->
    <div id="app" v-cloak>
        <div id="aui-slide" style="position:relative">
            <div class="aui-slide-wrap">
                <div class="aui-slide-node" v-if="productimages.length>0" v-on:click="img_browser(index)" v-for="(item,index) in productimages">
                    <img v-bind:src="item.imageurl" />
                </div>
                <div class="aui-slide-node" v-if="productimages.length==0">
                    <img src="../image/error-img.png" />
                </div>
            </div>
            <div class="aui-slide-page-wrap">
            </div>
        </div>
        <!-- <div class="promsg_pic" >
            <img v-bind:src="domainURL+item.MediumPicPath" />
        </div> -->
        <div class="promsg_main">
            <!-- 商品信息 -->
            <div class="promsg_main_msg">
                <div class="promsg_main_price">￥<span>{{productinfo.saleprice.toFixed(2)}}</span></div>
                <div class="promsg_main_adrmsg">{{productinfo.summary}}</div>
                <div class="promsg_main_address bt_line">
                    配送方式：{{productinfo.delivery_type}}
                    <span> {{productinfo.sellcount}}</span>
                </div>
                <div class="promsg_main_comtent">
                    <div class="comtent_peisong">
                        <div class="comtent_msg_name">配送说明：</div>
                        <div class="comtent_msg">{{productinfo.delivery_summary}}</div>
                    </div>
                </div>
            </div>
            <!-- 商品规格 -->
            <div class="protyp_main" v-on:click="do_open_variant(false,false)">
                <div class="protyp_style">已选</div>
                <div class="protyp_style_msg">{{productinfo.variantname}}</div>
                <div class="protyp_style_more"><i></i></div>
            </div>
            <!-- 商家信息 -->
            <div class="pro_shop">
                <div class="pro_shop_main bt_line" v-on:click="open_business()">
                    <div class="pro_shop_logo">
                        <img src="../image/pro_shop_pic.jpg" />
                    </div>
                    <div class="pro_shop_title">{{productinfo.businessname}}</div>
                    <div class="protyp_shop_enter">进店逛逛</div>
                </div>
                <!-- 评价 -->
                <div class="pingjia" v-if="commentTotal>0">
                    <div class="pj_top">
                        <span>评价</span>( {{commentTotal}}条评价 )
                    </div>
                    <!-- 评价item1 -->
                    <div class="pj_item bt_line" v-for="(item,index) in commentlist">
                        <div class="pj_item_self">
                            <div class="self_touxiang">
                                <img v-bind:src="item.HeadImg">
                            </div>
                            <div class="self_msg">
                                <div class="self_name_time">
                                    <div class="self_name">{{item.nickname}}</div>
                                    <div class="self_time">{{item.addtime}}</div>
                                </div>
                                <div class="self_dengji">
                                    <i v-for="index in 5" class="icon iconfont iconiconfontxingxing" v-bind:style="{'color':index<=item.starcount?'red':'grey'}" style="font-size:0.5rem;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="pj_item_msg">
                            <div class="pj_item_msg_wz">{{item.comment}}</div>
                            <!-- <div id="imageBox" class="aui-row" style="padding-top:8px;" v-if="OrderComments.length>0">
                                <div class="aui-col-xs-3 aui-col-pjpic"  v-for="(item,index) in OrderComments[index].PicList">
                                    <img v-bind:src="domainURL+item.ImagePath" />
                                </div>
                            </div> -->
                            <div class="pj_item_msg_type"></div>
                        </div>
                    </div>
                    <div class="pingjia_more" v-on:click="open_OrderComments_win()">查看更多评价</div>
                </div>
            </div>
            <!-- 商品介绍 -->
            <div class="product_main">
                <div class="pj_top">
                    <span>商品详情</span>
                </div>
                <div class="product_main_msg" v-html="productinfo.description">
                    <!-- <img src="../image/sp1.png"/>
             <img src="../image/sp2.png"/> -->
                </div>

            </div>
        </div>
        <div class="product_btn tp_line">
            <div class="po-btn-main">
                <div class="shangjia">
                    <i class="icon iconfont iconliaotian1"></i>
                    <div class="sy-txt"  v-on:click="open_chat()">聊天</div>
                </div>
                <div class="pro_gwc" v-on:click="open_cart()">
                    <i class="icon iconfont icongouwuche3">
                      <div v-if="cartcount>0" class="aui-badge">{{cartcount}}</div>
                    </i>
                    <div class="tlk-txt">购物车</div>
                </div>
                <div class="call" v-on:click="do_open_variant(false,true)">
                    加入购物车
                </div>
                <div class="send" v-on:click="do_open_variant(true,false)">
                    立即购买
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript " src="../script/api.js "></script>
<script type="text/javascript " src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/aui-slide.js"></script>
<script type="text/javascript" src="../script/aui-pull-refresh.js"></script>
<script type="text/javascript" src="../script/aui-scroll.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript " src="js/dl_product.js "></script>

</html>
