<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>收货地址</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-slide.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-pull-refresh.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/dl_shouhuodizhi.css" />
</head>

<body>
    <!-- v-cloak -->
    <div id="app" v-cloak>
        <div class="shouhuodizhi" v-if="list.length>0">
            <div v-bind:data-id="item.id" v-bind:data-relate="item.IsRelationAddress" v-bind:id="'item_'+item.id" class="shdz_main btn_line" v-bind:class="{'btn_line':index==0}" v-for="(item,index) in list">
                <div class="shdz_name">
                    <div class="shdz_name_lft fl" v-on:click="do_choose(item)">
                        <span>{{item.name}}</span>{{item.phone}}
                    </div>
                    <div class="shdz_name_rgt fr">
                        <span v-on:click="do_add('修改收货地址',item.id)" class="shdz_anniu edit">编辑</span>
                        <!-- <span v-if="!item.IsRelationAddress" v-on:click="do_remove(item.id)" class="shdz_anniu delete">删除</span> -->
                    </div>
                </div>
                <div class="shdz_address" v-on:click="do_choose(item)">
                    {{item.address}}
                </div>
                <div class="maskaddress" v-if="maskid==item.id">
                </div>
                <div class="maskbg" v-on:click="clearMask()" v-if="maskid==item.id">
                </div>
                <div class="maskaddresscontent" v-if="maskid==item.id">
                    <div class="maskoperation">
                        <span class="first" v-on:click="do_add('修改收货地址',item.id)">编辑</span>
                        <span v-if="!item.IsRelationAddress" v-on:click="do_remove(item.id)">删除</span>
                    </div>
                </div>
            </div>
            <!-- v-on:click="do_save()" -->
            <div class="bsbx_btm top_line" v-on:click="do_add('新增收货地址',0)">
                <div class="bsbx_add">新增收货地址</div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript " src="../script/api.js "></script>
<script type="text/javascript " src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/aui-slide.js"></script>
<script type="text/javascript" src="../script/aui-pull-refresh.js"></script>
<script type="text/javascript" src="../script/aui-scroll.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript " src="js/dl_shouhuodizhi.js "></script>

</html>
