<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>历史账单</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-slide.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-pull-refresh.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/dl_wyjiaofeihistory.css" />
</head>

<body>
    <!-- v-cloak -->
    <div id="app" v-cloak>
        <!-- 账单列表 -->
        <div class="wyjf_zhangdan">
            <div class="zd_main">
                <ul>
                    <li class="zd_list" v-for="item in list">
                        <div class="zd_list_main btn_line" v-on:click="show_morehistory(item)">
                            <div class="zd_list_name">
                                <div class="zd_list_namelft">
                                      {{item.PaymentMethod}}
                                </div>
                                <div class="pay_fs">
                                      {{item.PayType==1?'线上支付':'线下支付'}}
                                </div>
                            </div>
                            <div class="zd_list_money">
                                <div class="yz_time">
                                    {{item.StartTime}}
                                </div>
                                <div class="zd_money">
                                    ￥<span>{{item.TotalCost.toFixed(2)}}</span>
                                    <i class="icon iconfont iconjiantou8"></i>
                                </div>
                            </div>
                        </div>
                        <div v-if="item.ShowMore" class="zd_mingxi" v-for="item2 in item.historylist">
                            <ul>
                                <li class="mx_main">
                                    <div class="mx_rgt btn_line">
                                        <div class="mx_name">
                                            <div class="mx_ziyuan">
                                                {{item2.ChargeName}}
                                            </div>
                                            <div class="mx_xj">
                                                ￥{{item2.TotalFee.toFixed(2)}}
                                            </div>
                                        </div>
                                        <div class="mx_date">
                                            <div class="mx_date_lft">
                                                {{item2.StartTime}} 至 {{item2.EndTime}}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript " src="../script/api.js "></script>
<script type="text/javascript " src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/aui-slide.js"></script>
<script type="text/javascript" src="../script/aui-pull-refresh.js"></script>
<script type="text/javascript" src="../script/aui-scroll.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript " src="js/dl_wyjiaofeihistory.js "></script>

</html>
