<!DOCTYPE HTML>
<html>

<head>
    <title>个人信息</title>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="./css/formlist.css" />
    <link rel="stylesheet" type="text/css" href="../css/comm.css" />
    <style>
        .aui-list-item img {
            width: 2.5rem;
            height: 2.5rem;
            display: inline-block;
            margin-right: 0.75rem;
            border-radius: 50%;
            margin-top:8px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="aui-content pb60">
            <ul class="aui-list">
                <li class="aui-list-item" v-on:click="choose_img()">
                    <div class="aui-list-item-inner aui-list-item-arrow ">
                        <div class="aui-list-item-label">
                            头像：
                        </div>
                        <div class="aui-list-item-input">
                            <img v-bind:src="file.headimg" />
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            电话：
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="form.telphone" placeholder="请输入">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            性别：
                        </div>
                        <div class="aui-list-item-input">
                            <label v-on:click="do_select_sex('男')">
                              <input class="aui-radio" type="radio" name="sex" v-bind:checked="form.Sex=='男'">男</input>
                          </label>
                            <label v-on:click="do_select_sex('女')">
                              <input class="aui-radio" type="radio" name="sex" v-bind:checked="form.Sex=='女'">女</input>
                          </label>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            微信：
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="form.weixinCard" placeholder="请输入">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            邮箱：
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="form.mailbox" placeholder="请输入">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            QQ：
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="form.QQ" placeholder="请输入">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                           部门：
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="form.UserGW" placeholder="请输入">
                        </div>
                    </div>
                </li>
            </ul>
            <footer class="aui-bar aui-bar-tab" id="footer">
                <div class="aui-bar-tab-item" v-on:click="do_save()">
                    <label class="aui-bar-tab-label">保存</label>
                </div>
            </footer>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="js/myself.js"></script>

</html>
