<!DOCTYPE HTML>
<html>

<head>
    <title>盘点管理</title>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-pull-refresh.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="./css/pandiantasklist.css" />
    <link rel="stylesheet" type="text/css" href="../css/comm.css" />
    <style>
        .aui-grid.fixed35 {
            top: 35px;
        }

        #main_refresh.fixed70 {
            top: 70px;
        }
    </style>
</head>

<body>
    <div id="app">
        <ul class="aui-tab fixed-top">
            <li class="aui-tab-item" v-for="item in tablist" v-on:click="do_select_tab(item)">
                <span v-bind:class="{'aui-active':form.showtype==item.type}">{{item.title}}</span>
            </li>
        </ul>
        <section class="aui-grid fixed-top fixed35">
            <div class="aui-left-count">
                <label>小计：{{form.totalcount}}</label>
            </div>
            <div class="aui-right-search" v-on:click="do_search()">
                <span class="search-btn ft110">
                    <i class="icon iconfont iconfilter"></i>筛选
                </span>
            </div>
        </section>
        <section id="main_refresh" class="aui-refresh-content fixed70">
            <div class="aui-content">
                <ul class="aui-list aui-form-list" v-bind:class="{'list-unaccomplished list-unaccomplished-pandian':item.Status!=0,'list-accomplish':item.Status==0}" v-for="item in list">
                    <li class="aui-list-header" v-on:click="do_add_task(item.ID,item.Status,(item.Title + ' - ' + item.Code))">{{item.Title}} - {{item.Code}}</li>
                    <li class="aui-list-item" v-on:click="do_add_task(item.ID,item.Status,(item.Title + ' - ' + item.Code))">
                        <div class="aui-list-item-inner">
                            <div>
                                <i class="icon iconfont iconfont2 icondengluming"></i>&nbsp;创建人：{{item.CRUserRealName}}
                            </div>
                            <div v-if="item.Status==0&&item.CompleteDateDesc!=''">
                                <i class="icon iconfont iconfont2 iconshijian"></i>&nbsp;完成时间：{{item.CompleteDateDesc}}
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item last" v-on:click="do_add_task(item.ID,item.Status,(item.Title + ' - ' + item.Code))">
                        <div>
                            <i class="icon iconfont iconfont2 iconshijian"></i>&nbsp;计划开始：{{item.FromDateDesc}}
                        </div>
                        <div>
                            <i class="icon iconfont iconfont2 iconshijian1"></i>&nbsp;计划结束：{{item.ToDateDesc}}
                        </div>
                    </li>
                    <li class="aui-list-item">
                        <section class="aui-grid">
                            <div class="aui-row">
                                <div class="aui-col-xs-3" v-on:click="do_open_list(item,1)" v-if="item.Status==10">
                                    <div class="aui-grid-label">
                                        <span class="weipan">未盘</span>
                                        <span class="count">{{item.UnCheckQty}}</span>
                                    </div>
                                </div>
                                <div class="aui-col-xs-3" v-on:click="do_open_list(item,2)">
                                    <div class="aui-grid-label">
                                        <span class="yipan">已盘</span>
                                        <span class="count">{{item.CheckDoneQty}}</span>
                                    </div>
                                </div>
                                <div class="aui-col-xs-3" v-on:click="do_open_list(item,3)">
                                    <div class="aui-grid-label">
                                        <span class="panying">盘盈</span>
                                        <span class="count">{{item.CheckMoreQty}}</span>
                                    </div>
                                </div>
                                <div class="aui-col-xs-3" v-on:click="do_open_list(item,4)" v-if="item.Status==0">
                                    <div class="aui-grid-label">
                                        <span class="pankui">盘亏</span>
                                        <span class="count">{{item.UnCheckQty}}</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</body>
<script type="text/javascript" src="../script/api.js "></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/aui-pull-refresh.js"></script>
<script type="text/javascript" src="../script/aui-scroll.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="js/pandiantasklist.js "></script>

</html>
