<!DOCTYPE HTML>
<html>

<head>
    <title>盘点单详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="./css/formlist.css" />
    <link rel="stylesheet" type="text/css" href="../css/comm.css" />
    <link rel="stylesheet" type="text/css" href="./css/chooselocation.css" />
    <style>
        .topBtn {
            float: right;
        }

        .topBtn label {
            display: inline-block;
            margin-bottom: 5px;
            font-size: 0.6rem;
            text-align: center;
            padding: 2px 6px 1px 6px;
            border-radius: 2px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div v-if="!hideeditbtn" class="btnFloat" v-on:click="do_open_operation()">
            <i class="icon iconfont iconfont2 iconxiugai1"></i>
        </div>
        <!-- <ul class="aui-tab fixed-top" v-if="!canedit">
            <li class="aui-tab-item" v-on:click="do_select_tab(1)"><span v-bind:class="{'aui-active':tabtype==1}">盘点单信息</span></li>
            <li class="aui-tab-item" v-on:click="do_select_tab(2)"><span v-bind:class="{'aui-active':tabtype==2}">盘点情况</span></li>
        </ul> -->
        <div class="aui-content" v-if="tabtype==1">
            <ul class="aui-list">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label auto">
                            盘点单号：
                        </div>
                        <div class="aui-list-item-input auto">
                            <input v-if="form.ID<=0" type="text" readonly="readonly" v-model="form.Code" placeholder="系统自动生成">
                            <span v-else>{{form.Code}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-if="form.ID!=0">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label auto">
                            盘点状态：
                        </div>
                        <div class="aui-list-item-input auto">
                            <span v-html="covertstatus(form.Status)"></span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            <i class="red">*</i>盘点单名称：
                        </div>
                        <div class="aui-list-item-input">
                            <input v-if="canedit" type="text" v-model="form.Title" placeholder="请输入">
                            <span v-else>{{form.Title}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-bind:class="{'aui-list-item-arrow':canedit}">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            <i class="red">*</i>计划开始日期：
                        </div>
                        <div class="aui-list-item-input">
                            <input v-on:click="do_select_date(1)" type="text" v-if="canedit" readonly="readonly" v-model="form.FromDateDesc" placeholder="请选择">
                            <span v-else>{{form.FromDateDesc}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-bind:class="{'aui-list-item-arrow':canedit}">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            计划截止日期：
                        </div>
                        <div class="aui-list-item-input">
                            <input v-on:click="do_select_date(2)" type="text" v-if="canedit" readonly="readonly" v-model="form.ToDateDesc" placeholder="请选择">
                            <span v-else>{{form.ToDateDesc}}</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-bind:class="{'aui-list-item-arrow':canedit}">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            盘点公司：
                        </div>
                        <div class="aui-list-item-input" v-on:click="do_select_company()">
                            <input readonly="readonly" v-if="(form.DeptNames==''||form.DeptNames==null)&&canedit" type="text" placeholder="请选择">
                            <label v-else>{{form.DeptNames}}</label>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-bind:class="{'aui-list-item-arrow':canedit}">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            盘点分类：
                        </div>
                        <div class="aui-list-item-input" v-on:click="do_select_type()">
                            <input readonly="readonly" v-if="(form.TypeTitles==''||form.TypeTitles==null)&&canedit" type="text" placeholder="请选择">
                            <label v-else>{{form.TypeTitles}}</label>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            备注：
                        </div>
                        <div class="aui-list-item-input">
                            <input v-if="canedit" type="text" placeholder="请输入" v-model="form.Content" />
                            <span v-else>{{form.Content}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="aui-content pb50" v-if="tabtype==2">
            <ul class="aui-list">
                <li class="aui-list-item aui-list-item-arrow" v-on:click="do_select_my_company()">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            盘点公司：
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" readonly="readonly" v-model="locationform.DeptName" placeholder="请选择" />
                        </div>
                    </div>
                </li>
                <li class="aui-list-item aui-list-item-arrow" v-on:click="do_select_my_type()">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            盘点分类：
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" readonly="readonly" v-model="locationform.TypeTitles" placeholder="请选择" />
                        </div>
                    </div>
                </li>
                <li class="aui-list-item aui-list-item-arrow">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            盘点楼栋：
                        </div>
                        <div class="aui-list-item-input">
                            <select v-model="locationform.BuildingID" @change="do_choose_building()">
                              <option v-for="item in buildinglist" v-bind:value="item.id">{{item.title}}</option>
                            </select>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="choose-title">
                选择场地：
                <div class="topBtn">
                    <label class="needpanbtn">需盘点</label>
                    <label class="nopanbtn" style="border:solid 1px #fff;">无需盘点</label>
                    <label class="yipan">已盘</label>
                    <label class="panying">盘盈</label>
                    <label class="pankui">盘亏</label>
                </div>
            </div>
            <div class="location-info" v-if="locationform.FloorHeight.length>0">
                <div class="location-label">请左右滑动选择房间</div>
                <div class="location-floor">
                    <label v-on:click="do_select_floor(height)" v-for="height in locationform.FloorHeight">{{height}}楼</label>
                </div>
                <div class="location-row">
                    <div v-bind:style="roomStyle(height)" class="location-room" v-for="height in locationform.FloorHeight">
                      <label v-bind:class="getStatusClass(item)" v-for="item in floorlist" v-on:click="do_select_room(item)" v-if="item.FloorID==height">
                      {{item.title}}
                      <span class="yipan" v-if="item.CheckDoneQty>0">盘</span>
                      <span class="panying" v-if="(form.Status==0||item.CheckDoneQty>0)&&item.CheckMoreQty>0">盈</span>
                      <span class="pankui" v-if="(form.Status==0||item.CheckDoneQty>0)&&item.UnCheckQty>0">亏</span>
                      </label>
                    </div>
                </div>
            </div>
        </div>
        <footer class="aui-bar aui-bar-tab" id="footer" v-if="tabtype==2">
            <div v-if="!canpandian" class="aui-bar-tab-item" v-on:click="do_view_pandian_history(1)">
                <label class="aui-bar-tab-label">查看整个盘点单情况</label>
            </div>
            <div v-if="!canpandian" class="aui-bar-tab-item" v-on:click="do_view_pandian_history(2)">
                <label class="aui-bar-tab-label">查看该楼栋情况</label>
            </div>
            <!--<div v-if="canpandian" class="aui-bar-tab-item" v-on:click="do_start_pandian()">
                <label class="aui-bar-tab-label">开始盘点资产</label>
            </div>-->
            <div v-if="canpandian" class="aui-bar-tab-item">
                <label class="">点击房间开始盘点</label>
            </div>
        </footer>
    </div>
</body>

<script type="text/javascript" src="../script/api.js "></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/vue.js "></script>
<script type="text/javascript" src="../script/config.js "></script>
<script type="text/javascript" src="../script/common.js "></script>
<script type="text/javascript" src="js/pandiantaskedit.js "></script>

</html>
